.el-input{
    width: 30% !important;
    margin-bottom: 8px;
}
.el-select{
    width: 30%;
}
.sele-width{
    width: 30%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
}

.uploadimgbtn:nth-of-type(1){
    margin: 0 !important;
}
.uploadimgbtn{
    width: 148px;
    text-align: center;
    position: relative !important;
    top: -40px !important;
    margin: 0 !important;
    margin-left: 8px !important;
}
.el-input--suffix{
    width: 100% !important;
}
.el-input__inner{
    width: 100% !important;
}