.el-input{
    width: 30% !important;
}
.sele-width{
    width: 286.4px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
}

.uploadimgbtn{
    width: 148px;
    text-align: center;
    position: relative !important;
    top: -10px !important;
}