<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        #todatAllRoot {}

        .search-top {
            padding: 18px;
            display: flex;
            justify-content: space-between;
        }

        .footerPages {
            margin-top: 25px;
            text-align: center;
        }

        .el-table_1_column_10 .cell {
            color: #1890FF !important;
        }

        .el-input__inner {
            
        }
    </style>
    <title>所有订单</title>
</head>

<body>
    <div id="todatAllRoot">
        <div class="search-top">
            <div>
                <label for="">订单编号:</label>
                <el-input style="width: 190px !important;" v-model="orderNum" placeholder="请输入内容"></el-input>
                <label for="">入住人姓名:</label>
                <el-input style="width: 8vw;" v-model="orderName" placeholder="请输入内容"></el-input>
                <label for="">民宿名称:</label>
                <el-select style="width: 190px !important;" v-model="orderHomeStayName" @change='homestayChange' placeholder="请选择">
                    <el-option style="width: 190px !important;" v-for="item in currentHomeStay" :key="item.value" :label="item.label"
                        :value="item.value">
                    </el-option>
                </el-select>
                <label for="">房型名称:</label>
                <el-select v-model="orderHouseTypeName" placeholder="请选择">
                    <el-option v-for="item in currentHouseTP" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <label for="">状态:</label>
                <el-select v-model="orderStatus" placeholder="请选择">
                    <el-option v-for="item in orderStatusOptions" :key="item.value" :label="item.label"
                        :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div>
                <el-button type="primary" size="small" @click='querySearchTodayAll'>查&nbsp;询</el-button>
                <el-button type="info" size="small" @click='clearSearchTodayAll'>重&nbsp;置</el-button>
            </div>
        </div>
        <div class="todayList-box">
            <el-table :data="todayAllTableData" style="width: 100%" @cell-click='todayAllTabClick'>
                <el-table-column prop="order_sn" label="订单编号">
                </el-table-column>
                <el-table-column prop="homestay_name" label="民宿名称">
                </el-table-column>
                <el-table-column prop="house_name" label="房型名称">
                </el-table-column>
                <el-table-column prop="phone" label="联系人手机">
                </el-table-column>
                <el-table-column prop="refundtime" label="退款时间">
                </el-table-column>
                <el-table-column prop="order_status" label="状态">
                </el-table-column>
                <el-table-column prop="check_in" label="入住时间">
                </el-table-column>
                <el-table-column prop="leave_time" label="离店时间">
                </el-table-column>
                <el-table-column prop="user_name" label="入住人姓名">
                </el-table-column>
                <el-table-column prop="order_status" label="操作">
                    <template scope="scope">
                        <span style="cursor: pointer;" v-show="scope.row.order_status == '待入住'"
                            @click="toGoTodayGoBtn">办理入住</span>
                        <span style="cursor: pointer;" v-show="scope.row.order_status == '待入住'"
                            @click="toAllTodayAllBtn">退款</span>
                        <span style="cursor: pointer;" v-show="scope.row.order_status == '已入住'"
                            @click="toOutTodayOutBtn">办理离店</span>
                        <span style="cursor: pointer;" v-show="scope.row.order_status == '已入住'"
                            @click='toAllTodayAllBtn'>退款</span>
                        <span style="cursor: pointer;" v-show="scope.row.order_status == '已离店'"
                            @click="toAllTodayAllBtn">退款</span>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div class="footerPages">
            <el-pagination @size-change="todayAllSizeChange" @current-change="todayAllCurrentChange"
                :current-page="todayAllcurrentPage" :page-sizes="[8, 20, 50, 100]" :page-size="todayAllSize"
                layout="total, sizes, prev, pager, next, jumper" :total="todayAlltotal">
            </el-pagination>
        </div>
    </div>

    <script>

        const listUrl = 'https://api.sdzhujialin.com/admin/Houseorder/Index';
        const homeStayURL = 'https://api.sdzhujialin.com/admin/Houseorder/homestay';
        const HouseURL = 'https://api.sdzhujialin.com/admin/Houseorder/house';
        const toGoTodayGoUrl = 'https://api.sdzhujialin.com/admin/Houseorder/IndexDataval';
        const toOutTodayOutUrl = 'https://api.sdzhujialin.com/admin/Houseorder/IndexLeaveval';
        const toAllTodayAllUrl = 'https://api.sdzhujialin.com/admin/Houseorder/pay';

        new Vue({
            el: '#todatAllRoot',
            data: {
                // 订单编号inp
                orderNum: '',
                // 入住人姓名
                orderName: '',
                // 民宿名称
                orderHomeStayName: [],
                // 房型名称
                orderHouseTypeName: [],
                // 状态
                orderStatus: '',
                // 状态选项
                orderStatusOptions: [
                    {
                        value: 3,
                        label: "已入住"
                    },
                    {
                        value: 2,
                        label: "待入住"
                    },
                    {
                        value: 1,
                        label: "等待付款"
                    },
                    {
                        value: 4,
                        label: "已离店"
                    },
                    {
                        value: 10,
                        label: "订单取消"
                    },
                    {
                        value: 11,
                        label: "已退款"
                    }
                ],
                // 列表假数据
                todayAllTableData: [],
                // 分页当前页数
                todayAllcurrentPage: 1,
                todayAllSize: 8,
                todayAlltotal: 0,
                // 点击表格订单ID
                todayAllTableSNID: '',
                // 联动总信息
                currentHomeStayHouseTP: [],
                // 联动民宿
                currentHomeStay: [],
                // 联动房型
                currentHouseTP: [],
                // 行内订单编号
                roworder_sn: '',
                // 行内订单ID
                roworder_id: '',
                // 行内用户ID
                rowuser_id: '',
                // 行内价格
                rowprice: '',
                // 行内订单状态
                roworder_status: '',
                // 查询民宿ID
                searchHomeStayID: '',
                // 查询房型ID
                searchHouseID: '',
            },
            mounted() {
                this.queryTodayAllList();
                this.queryhomeStayHouse();
            },
            methods: {
                // 获取民宿联动信息
                queryhomeStayHouse() {
                    let that = this;
                    $.ajax({
                        url: homeStayURL,
                        type: 'POST',
                        dataType: 'json',
                        success(res) {
                            if (res.code == 200) {
                                // console.log(res.data);
                                for (let i = 0; i < res.data.length; i++) {
                                    let tempObj = {};
                                    tempObj.value = res.data[i].id;
                                    tempObj.label = res.data[i].name;
                                    that.currentHomeStay.push(tempObj);
                                }
                                // console.log(that.currentHomeStay)
                            } else {
                                that.failTip(res.msg);
                            }
                        }
                    })
                },
                // 民宿change
                homestayChange(val) {
                    this.queryhouseHouse(val);
                },
                // 获取房型联动信息
                queryhouseHouse(id) {
                    let that = this;
                    $.ajax({
                        url: HouseURL,
                        data: {
                            id
                        },
                        type: 'POST',
                        dataType: 'json',
                        success(res) {
                            if (res.code == 200) {
                                // console.log(res.data);
                                for (let i = 0; i < res.data.length; i++) {
                                    let tempObj = {};
                                    tempObj.value = res.data[i].id;
                                    tempObj.label = res.data[i].name;
                                    that.currentHouseTP.push(tempObj);
                                }
                            } else {
                                that.currentHouseTP = [];
                                that.orderHouseTypeName = [];
                                that.failTip(res.msg);
                            }

                        }
                    })
                },
                todayAllSizeChange(val) {
                    this.todayAllSize = val;
                    this.queryTodayAllList();
                },
                todayAllCurrentChange(val) {
                    this.todayAllcurrentPage = val;
                    this.queryTodayAllList();
                },
                // 今日入住列表
                queryTodayAllList() {
                    let that = this;
                    $.ajax({
                        url: listUrl,
                        data: {
                            size: this.todayAllSize,
                            order: this.todayAllcurrentPage,
                            type: 1
                        },
                        type: 'POST',
                        dataType: 'json',
                        success(res) {
                            // console.log(res);
                            if (res.code == 200) {
                                res.data.data.map((e, i) => {
                                    if (e.order_status == 1) {
                                        return e.order_status = '等待付款';
                                    } else if (e.order_status == 2) {
                                        return e.order_status = '待入住';
                                    } else if (e.order_status == 3) {
                                        return e.order_status = '已入住';
                                    } else if (e.order_status == 4) {
                                        return e.order_status = '已离店';
                                    } else if (e.order_status == 10) {
                                        return e.order_status = '订单取消';
                                    } else if (e.order_status == 11) {
                                        return e.order_status = '已退款';
                                    }
                                })
                                res.data.data.map((e, i) => {
                                    if (e.refundtime == '') {
                                        return e.refundtime = '----------------------';
                                    }
                                })
                                that.todayAlltotal = res.data.total;
                                that.todayAllTableData = res.data.data;
                            } else {
                                that.failTip(res.msg);
                            }
                        }
                    })
                },
                // 今日入住查询btn
                querySearchTodayAll() {
                    let that = this;
                    $.ajax({
                        url: listUrl,
                        data: {
                            order_sn: this.orderNum,
                            user_name: this.orderName,
                            homestay_id: this.orderHomeStayName,
                            house_id: this.orderHouseTypeName,
                            order_status: this.orderStatus
                        },
                        type: 'POST',
                        dataType: 'json',
                        success(res){
                            if(res.code == 200){
                                res.data.data.map((e, i) => {
                                    if (e.order_status == 1) {
                                        return e.order_status = '等待付款';
                                    } else if (e.order_status == 2) {
                                        return e.order_status = '待入住';
                                    } else if (e.order_status == 3) {
                                        return e.order_status = '已入住';
                                    } else if (e.order_status == 4) {
                                        return e.order_status = '已离店';
                                    } else if (e.order_status == 10) {
                                        return e.order_status = '订单取消';
                                    } else if (e.order_status == 11) {
                                        return e.order_status = '已退款';
                                    }
                                })
                                that.todayAlltotal = res.data.total;
                                that.todayAllTableData = res.data.data;
                                // that.queryTodayAllList();
                            } else {
                                that.failTip(res.msg);
                            }
                        }
                    })
                },
                // 清空
                clearSearchTodayAll(){
                    this.orderNum = '';
                    this.orderName = '';
                    this.orderHomeStayName = '';
                    this.orderHouseTypeName = '';
                    this.orderStatus = '';
                    this.queryTodayAllList();
                },
                // 列表办理入住点击
                todayAllTabClick(row, column, cell, event) {
                    console.log(row);
                    this.todayAllTableSNID = row.order_id;
                    this.roworder_id = row.order_id;
                    this.rowuser_id = row.user_id;
                    this.roworder_sn = row.order_sn;
                    this.rowprice = row.price;
                    if (row.order_status == '等待付款') {
                        return row.order_status = 1;
                    } else if (row.order_status == '待入住') {
                        return row.order_status = 2;
                    } else if (row.order_status == '已入住') {
                        return row.order_status = 3;
                    } else if (row.order_status == '已离店') {
                        return row.order_status = 4;
                    } else if (row.order_status == '订单取消') {
                        return row.order_status = 10;
                    } else if (row.order_status == '已退款') {
                        return row.order_status = 11;
                    }
                    this.roworder_status = row.order_status;
                },
                // 退款
                toAllTodayAllBtn() {
                    let that = this;
                    setTimeout(() => {
                        $.ajax({
                            url: toAllTodayAllUrl,
                            data: {
                                order_id: this.roworder_id,
                                user_id: this.rowuser_id,
                                order_sn: this.roworder_sn,
                                price: this.rowprice,
                                order_status: this.roworder_status
                            },
                            type: 'POST',
                            dataType: 'json',
                            success(res) {
                                // console.log(res)
                                if (res.code == 200) {
                                    that.queryTodayAllList();
                                } else {
                                    that.failTip(res.msg);
                                    that.queryTodayAllList();
                                }
                            }
                        })
                    }, 60);
                },
                // 办理入住
                toGoTodayGoBtn() {
                    let that = this;
                    setTimeout(() => {
                        $.ajax({
                            url: toGoTodayGoUrl,
                            data: {
                                order_id: this.todayAllTableSNID
                            },
                            type: 'POST',
                            dataType: 'json',
                            success(res) {
                                // console.log(res);
                                if (res.code == 200) {
                                    that.queryTodayAllList();
                                }
                            }
                        })
                    }, 60);
                },
                // 办理离店
                toOutTodayOutBtn() {
                    let that = this;
                    setTimeout(() => {
                        $.ajax({
                            url: toOutTodayOutUrl,
                            data: {
                                order_id: this.todayAllTableSNID
                            },
                            type: 'POST',
                            dataType: 'json',
                            success(res) {
                                // console.log(res);
                                if (res.code == 200) {
                                    that.queryTodayAllList();
                                }
                            }
                        })
                    }, 60);
                },

                // 成功tip
                successTip(msg) {
                    this.$message({
                        message: `${msg}`,
                        type: 'success'
                    });
                },
                // 失败tip
                failTip(msg) {
                    this.$message({
                        message: `${msg}`,
                        type: 'warning'
                    });
                },
            },
            watch: {

            },
        })
    </script>
</body>

</html>