<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="homeStayMaintain.css">
    <link rel="stylesheet" href="index.css">
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.6&key=7628693ecd6dc7544c976722c9a15b4c">
    </script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <title>民宿维护</title>
</head>

<body>
    <div id="homeStayMaintain">
        <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <div id="search-box">
                <div id="search-left">
                    <el-form-item label="民宿名称">
                        <el-input v-model="name" placeholder="请输入" size="mini"></el-input>
                    </el-form-item>
                    <el-form-item label="房东姓名">
                        <el-input v-model="house_name" placeholder="请输入" size="mini"></el-input>
                    </el-form-item>
                    <el-form-item label="运营类别">
                        <el-select v-model="category" placeholder="请选择" size="mini">
                            <el-option label="自营" value="1"></el-option>
                            <el-option label="民居" value="2"></el-option>
                        </el-select>
                    </el-form-item>
                </div>
                <div id="search-right">
                    <el-form-item>
                        <el-button type="primary" size="mini" @click="searchHomeStay">查询</el-button>
                        <el-button type="info" size="mini" @click="resetHomeStay">重置</el-button>
                    </el-form-item>
                </div>
            </div>
        </el-form>
        <el-button size="mini" icon="el-icon-plus" type="primary" class="add-homestay-btn" @click="addHomeStayBtn">
            新建</el-button>
        <el-table :data="tableData" stripe style="width: 100%;" @cell-click="reviseBtn">
            <el-table-column prop="name" label="民宿名称">
            </el-table-column>
            <el-table-column prop="category" label="运营类别">
            </el-table-column>
            <el-table-column prop="house_name" label="房东姓名">
            </el-table-column>
            <el-table-column prop="number" label="房型数量">
            </el-table-column>
            <el-table-column prop="time" label="创建时间">
            </el-table-column>
            <el-table-column prop="recommend" label="推荐" width="180">
            </el-table-column>
            <el-table-column label="操作">
                <el-button icon="el-icon-edit" circle size="mini" type="primary"></el-button>
            </el-table-column>
        </el-table>
        <div id="footer-page-box">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                :current-page="currentPage" :page-sizes="[5, 10, 20, 50]" :page-size="100"
                layout="total, sizes, prev, pager, next, jumper" :total="totalNum">
            </el-pagination>
        </div>


        <!-- -------------------------------- 添加民宿,民宿详情,民宿信息修改弹出层 -------------------------------- -->
        <div id="addBox" v-if="addFlag">
            <i class="el-icon-close" @click="closeAddBoxClick"></i>
            <h1>{{addBoxTitle}}</h1>
            <div>
                <h2>基础信息</h2>
                <el-input class="add-el-input add-el-input--suffix add-el-input__inner " style="width:30%" type="text"
                    placeholder="民宿名称" v-model="addName" maxlength="10" show-word-limit>
                </el-input>
                <el-input class="add-el-input add-el-input--suffix add-el-input__inner " type="text" placeholder="一句话描述"
                    v-model="addDescriptive" maxlength="20" show-word-limit></el-input>
                <el-select v-model="addCategory" placeholder="运营类别" class="add-el-select add-sele-width">
                    <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <el-input class="add-el-input add-el-input--suffix add-el-input__inner " type="text" placeholder="房东姓名"
                    v-model="addHouse_name" show-word-limit></el-input>
                <el-input class="add-el-input add-el-input--suffix add-el-input__inner " type="text" placeholder="重要提示"
                    v-model="addTips" maxlength="20" show-word-limit></el-input>
                <el-input class="add-el-input add-el-input--suffix add-el-input__inner " type="text" placeholder="推荐理由"
                    v-model="addReason" maxlength="10" show-word-limit></el-input>
                <el-input class="add-el-input add-el-input--suffix add-el-input__inner " type="text" placeholder="房东微信号"
                    v-model="addHouse_wx" show-word-limit></el-input>
            </div>
            <div id="homestay-img">
                <h2>民宿照片<span class="upload-num">{{uploadImgNum}}/20</span></h2>
                <div class="upLoadSmallBox">
                    <!-- 新建 -->
                    <div v-if="addBoxShow" class="upLoadBigBox">
                        <el-upload action="https://api.sdzhujialin.com/admin/Index/IndexData" list-type="picture-card" :on-change="onUpload" :limit="20"
                            accept="image/*" :file-list="mounteImgArr">
                            <i class="el-icon-plus"></i>
                        </el-upload>
                        <el-button type="primary" plain v-for="imgItem, i in upLoadImgList" class="add-uploadimgbtn"
                            @click="upLoadBtn(i)" size="mini">{{homeImgNum == i?'主页':'设为主页'}}</el-button>
                    </div>
                    <!-- 详情 -->
                    <div v-if="!addBoxShow" class="upLoadBigBox">
                        <el-upload 
                            action="https://api.sdzhujialin.com/admin/Index/Imgadd" 
                            list-type="picture-card" 
                            :on-change="onUploadRevise" 
                            :on-remove="onDeleRevise" 
                            :limit="20" 
                            accept="image/*" 
                            :file-list="mounteImgArr">
                            <i class="el-icon-plus"></i>
                        </el-upload>
                        <el-button type="primary" plain v-for="imgItem, i in upLoadImgList" class="add-uploadimgbtn" @click="upLoadBtn(i)"
                            size="mini">{{homeImgNum == i?'主页':'设为主页'}}</el-button>
                    </div>
                </div>
            </div>
            <div>
                <h2>设施维护</h2>
                <h4>网络服务</h4>
                <p>无线网络</p>
                <div class="radio-box">
                    <el-radio v-model="addWifi" label="0">无</el-radio>
                    <el-radio v-model="addWifi" label="1">收费</el-radio>
                    <el-radio v-model="addWifi" label="2">免费</el-radio>
                </div>

                <p>有线网络</p>
                <div class="radio-box">
                    <el-radio v-model="addCable_network" label="0">无</el-radio>
                    <el-radio v-model="addCable_network" label="1">收费</el-radio>
                    <el-radio v-model="addCable_network" label="2">免费</el-radio>
                </div>

                <h4>停车服务</h4>
                <div class="radio-box">
                    <el-radio v-model="addParking" label="0">无</el-radio>
                    <el-radio v-model="addParking" label="1">收费</el-radio>
                    <el-radio v-model="addParking" label="2">免费</el-radio>
                </div>

                <div v-for="checkItem in checkList">
                    <h4>{{checkItem.title}}</h4>
                    <div class="check-box">
                        <el-checkbox-group v-model="addHomeStayInfoList">
                            <el-checkbox v-for="check in checkItem.content" :label="check.name"></el-checkbox>
                        </el-checkbox-group>
                    </div>
                </div>

            </div>
            <div id="mapBox">
                <h2>民宿位置</h2>
                <container @set-to-position="setShowPosition" :position="addPosition"></container>
                <el-input v-model="addAddress" placeholder="民宿地址描述" size="small" class="add-addressInp" maxlength="20"
                    show-word-limit></el-input>
            </div>
            <div v-if="addBoxShow" class="addInfoUpload">
                <el-button type="info" size="mini" @click="closeAddBoxClick">取消</el-button>
                <el-button type="primary" size="mini" @click="UploadHomeStayInfo">提交</el-button>
            </div>
            <div v-if="!addBoxShow" class="addInfoUpload">
                <el-button type="info" size="mini" @click="closeAddBoxClick">取消</el-button>
                <el-button type="primary" size="mini" @click="setReviseHomeStay">确认</el-button>
            </div>
        </div>
    </div>


    <!-- 地图组件 -->
    <script type="text/html" id="container">
        <div id="addContainer"></div>
    </script>

   
    <script>
        // 地图组件
        let container = {
            template: "#container",
            data() {
                return {
                    currentPosition: '',
                }
            },
            props: ['position'],
            methods: {
                // 创建地图
                createMap() {
                    // console.log(this.position.split(","));
                    let lat = '';
                    let lng = '';
                    // console.log(this.position)
                    if(this.position){
                        lat = this.position.split(",")[1]*1;
                        lng = this.position.split(",")[0]*1;
                    }
                    
                    // console.log(lat);
                    // console.log(lng);
                    let tempCenter = {};
                    if(this.position == ''){
                        tempCenter = {
                            resizeEnable: true,
                            zoom: 10
                        }
                    } else {
                        tempCenter = {
                            resizeEnable: true,
                            center: [lng, lat],
                            zoom: 10
                        }
                    }
                    let revisePosition = [lng, lat];
                    let map = new AMap.Map('addContainer', tempCenter)
                    let position = '';
                    let marker = '';
                    if(this.position){
                        // console.log(revisePosition);
                        marker = new AMap.Marker({
                            icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
                            position: revisePosition,
                            offset: new AMap.Pixel(-13, -30)
                        });
                        marker.setMap(map);
                    }
                    
                    let that = this;
                    map.on('click', function (e) {
                        lat = e.lnglat.getLat();
                        lng = e.lnglat.getLng();
                        position = `${e.lnglat.getLng()},${e.lnglat.getLat()}`;
                        this.currentPosition = position;
                        // console.log(lng, lat)
                        if (!marker) {
                            marker = new AMap.Marker({
                                icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
                                position: [lng, lat],
                                offset: new AMap.Pixel(-13, -30)
                            });
                            marker.setMap(map);
                        } else {
                            marker.setMap(null);
                            marker = new AMap.Marker({
                                icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
                                position: [lng, lat],
                                offset: new AMap.Pixel(-13, -30)
                            });
                            marker.setMap(map);
                        }
                        that.$emit("set-to-position", this.currentPosition);
                    })

                },
            },
            mounted() {
                this.createMap();
            },
            watch: {

            },
        }
        // 页面首次渲染
        const fristListURL = 'https://api.sdzhujialin.com/admin/Index/IndexData';
        // 民宿设置
        const addCheckListURL = 'https://api.sdzhujialin.com/admin/Facilities/IndexData';
        // 添加民宿
        const setHomeStayInfoURL = 'https://api.sdzhujialin.com/admin/Index/AddData';
        // 添加民宿图片上传
        const setHomeStayImgURL = 'https://api.sdzhujialin.com/admin/Index/upload';
        // 民宿详情接口
        const queryReviseHomeStayURL = 'https://api.sdzhujialin.com/admin/Index/Details';
        // 修改民宿
        const setReviseHomeStayURL = 'https://api.sdzhujialin.com/admin/Index/Updata';
        // 详情设为主图
        const setIsMainImgURL = 'https://api.sdzhujialin.com/admin/Index/ImgOne';
        // 详情删除图片
        const setDeleImgURL = 'https://api.sdzhujialin.com/admin/Index/ImgDel';
        // 详情上传图片
        const setUploadImgURL = 'https://api.sdzhujialin.com/admin/Index/Imgadd';

        new Vue({
            el: '#homeStayMaintain',
            data: {
                formInline: {
                    user: '',
                    region: ''
                },
                currentPage: 1,
                tableData: [],
                everyPageNum: 5,
                totalNum: 0,
                name: '',
                house_name: '',
                category: '',

                // ------------ 添加民宿弹出层 ---------------

                text: '',
                dialogImageUrl: '',
                dialogVisibleNum: 0,
                upLoadImgList: [],
                homeImgNum: 0,
                options: [{
                    value: '1',
                    label: '自营'
                }, {
                    value: '2',
                    label: '民居'
                }],
                checkList: [],
                // 是否是新建
                addFlag: '',
                // 上传图片个数
                uploadImgNum: 0,
                // 默认上传图片列表
                mounteImgArr: [],
                // add弹框
                addFlag: false,

                // 民宿服务
                homeStayServe: [],
                // 民宿名称
                addName: '',
                // 描述
                addDescriptive: '',
                // 运营类别
                addCategory: '',
                // 房东姓名
                addHouse_name: '',
                // 重要提示
                addTips: '',
                // 推荐理由
                addReason: '',
                // 房东微信
                addHouse_wx: '',
                // 无线
                addWifi: '',
                // 有线
                addCable_network: '',
                // 停车
                addParking: '',
                // 总选项
                addHomeStayInfoList: [],
                // 餐饮服务
                addRestaurant: [],
                // 酒店服务
                addHotel: [],
                // 公共设施服务
                addPublic: [],
                // 娱乐设施
                addEntertainment: [],
                // 民宿位置
                addPosition: '',
                // 民宿位置描述
                addAddress: '',
                // 上传change触发次数
                uploadNum: 0,

                // 弹出框标题
                addBoxTitle: '',
                addBoxShow: '',
                // 修改/详情民宿ID
                reviseHomeStayId: '',
            },
            methods: {
                // 分页
                handleSizeChange(val) {
                    this.everyPageNum = val;
                    this.queryHomestayList();
                },
                handleCurrentChange(val) {
                    this.currentPage = val;
                    this.queryHomestayList();
                },
                // 页面请求数据
                queryHomestayList() {
                    let that = this;
                    let data = {
                        'size': `${this.everyPageNum}`,
                        'order': `${this.currentPage}`,
                        'name': `${this.name}`,
                        'house_name': `${this.house_name}`,
                        'category': `${this.category}`
                    }
                    $.ajax({
                        url: fristListURL,
                        data: data,
                        type: 'POST',
                        dataType: 'json',
                        success(res) {
                            if(res.code == 200){
                                that.totalNum = res.data.total;
                                that.tableData = res.data.data;
                                that.tableData.map(e => {
                                    e.category = e.category == 1 ? '自营' : '民居';
                                    return e;
                                });
                            } else {
                                that.failTip(res.msg);
                            }
                        }
                    })
                },
                
                // 查询民宿
                searchHomeStay() {
                    let tempCategory = this.category == '自营' ? 1 : 2;
                    if (!this.name && !this.house_name && !tempCategory) {
                        this.noSearchTip();
                    } else {
                        this.queryHomestayList();
                    }
                },
                // 重置民宿
                resetHomeStay() {
                    this.name = '';
                    this.house_name = '';
                    this.category = '';
                    this.queryHomestayList();
                },
                // 未填写搜索条件提示
                noSearchTip() {
                    this.$message({
                        message: '搜索条件未填写',
                        type: 'warning'
                    });
                },


                // 修改按钮
                reviseBtn(row, column, cell, event) {
                    let currentCell = cell.className.split("")[18];
                    if (currentCell == 7) {
                        // console.log(row.id);
                        this.addBoxTitle = '民宿详情';
                        if(this.addBoxTitle == '民宿详情'){
                            this.addBoxShow = false;
                        }
                        this.reviseHomeStayId = row.id;
                        this.queryReviseHomeStay();
                    }

                },



                // 新建民宿按钮
                addHomeStayBtn() {
                    this.addBoxTitle = '新建民宿'
                    if(this.addBoxTitle == '新建民宿'){
                        this.addBoxShow = true;
                    }
                    // console.log(this.addBoxTitle);
                    this.addFlag = !this.addFlag;
                },
                // 新建民宿弹窗关闭
                closeAddBoxClick() {
                    this.addFlag = false;
                    this.addBoxTitle = '';
                },
                // 发送可选项请求
                queryHomeStayCheck() {
                    let that = this;
                    $.ajax({
                        url: addCheckListURL,
                        type: 'POST',
                        dataType: 'json',
                        success(res) {
                            if(res.code == 200){
                               that.checkList = res.data; 
                            }
                        }
                    })
                },
                // 提交新建民宿信息按钮/请求
                UploadHomeStayInfo() {
                    if (!this.addName || !this.addDescriptive || !this.addCategory || !this.addHouse_name ||!this.addTips || !this.addReason || !this.addHouse_wx || !this.addWifi || !this.addCable_network || !this.addParking || !this.addPosition || !this.addAddress) {
                        this.noUploadInfoTip();
                    } else if (this.addName.length > 10 || this.addName.length > 20 || this.addName.length >
                        20 || this.addName.length > 10) {
                        this.failInfoSizeTip();
                    } else {
                        for (let i = 0; i < this.checkList.length; i++) {
                            let arr = [];
                            for (let j = 0; j < this.checkList[i].content.length; j++) {
                                for (let m = 0; m < this.addHomeStayInfoList.length; m++) {
                                    if (this.addHomeStayInfoList[m] == this.checkList[i].content[j].name) {
                                        arr.push(this.checkList[i].content[j].id.toString());
                                    }
                                }
                            }
                            if (this.checkList[i].title == '酒店服务') {
                                this.addHotel = arr
                            } else if (this.checkList[i].title == '餐饮服务') {
                                this.addRestaurant = arr
                            } else if (this.checkList[i].title == "公共区域设施") {
                                this.addPublic = arr;
                            } else if (this.checkList[i].title == "娱乐设施") {
                                this.addEntertainment = arr
                            }
                        }
                        let that = this;
                        // 新建民宿信息（除图片）请求
                        $.ajax({
                            url: setHomeStayInfoURL,
                            type: 'POST',    
                            data: {
                                name: this.addName,
                                descriptive: this.addDescriptive,
                                category: this.addCategory,
                                house_name: this.addHouse_name,
                                tips: this.addTips,
                                reason: this.addReason,
                                house_wx: this.addHouse_wx,
                                wifi: this.addWifi,
                                cable_network: this.addCable_network,
                                parking: this.addParking,
                                restaurant: this.addRestaurant,
                                hotel: this.addHotel,
                                public: this.addPublic,
                                entertainment: this.addEntertainment,
                                position: this.addPosition,
                                address: this.addAddress
                            },
                            dataType: 'json',
                            success(res) {
                                if(res.code == 200){
                                    that.queryImg(res.data);
                                } else if (res.code == 201){
                                    that.failTip(res.msg);    
                                } else if (res.code == 300){
                                    that.failTip(res.msg);
                                }
                            }
                        })
                        
                    }
                },
                // 新建民宿添加图片请求
                queryImg(id){
                    let that = this;
                    var fd = new FormData();
                    for(let i = 0;i<this.upLoadImgList.length;i++){
                        fd.append("files[]", this.upLoadImgList[i].raw)
                    }
                    fd.append("id",id);
                    fd.append("flag",this.homeImgNum);
                    // console.log(fd.get("files[]"));
                    $.ajax({
                        url: setHomeStayImgURL,
                        type: 'POST',
                        data: fd,
                        processData:false,
                        contentType:false, 
                        success(res){
                            // console.log(res);
                            if(res.code == 200){
                                that.successTip(res.msg);
                                that.addFlag = false;
                                that.queryHomestayList();
                            } else if (res.code == 201){
                                that.failTip(res.msg);
                            } else if(res.code == 302){
                                that.failTip(res.msg);
                            }
                        }
                    })
                },
                // 民宿详情请求
                queryReviseHomeStay(){
                    let that = this;
                    $.ajax({
                        url: queryReviseHomeStayURL,
                        type: "POST",
                        data: {
                            id: this.reviseHomeStayId
                        },
                        dataType: "json",
                        success(res){
                            // console.log(res);
                            if(that.addBoxShow == false){
                                that.addFlag = true;
                            } else {
                                that.addFlag = !that.addFlag;
                            }
                            

                            that.checkList = res.data.title;
                            that.addName = res.data.data.name;
                            that.addDescriptive = res.data.data.descriptive;
                            that.addCategory = res.data.data.category == 0 ? '自营':'民居';
                            that.addHouse_name = res.data.data.house_name;
                            that.addTips = res.data.data.tips;
                            // 推荐理由
                            that.addReason = res.data.data.reason;
                            // 房主微信
                            that.addHouse_wx = res.data.data.house_wx;
                            // 无线
                            that.addWifi = res.data.data.wifi.toString();
                            // 有线网络服务
                            that.addCable_network = res.data.data.cable_network.toString();
                            // 停车服务
                            that.addParking = res.data.data.parking.toString();
                            // 服务信息总合
                            let tempCheckArr = res.data.data.hotel.concat(res.data.data.restaurant,res.data.data.public,res.data.data.entertainment);
                            for(let i = 0; i < res.data.title.length; i++){
                                for(let j = 0; j < res.data.title[i].content.length; j++){
                                    for(let m = 0; m < tempCheckArr.length; m++){
                                        if(res.data.title[i].content[j].id == tempCheckArr[m]*1){
                                            tempCheckArr[m] = res.data.title[i].content[j].name;
                                        }
                                    }
                                }
                            }
                            that.addHomeStayInfoList = tempCheckArr;
                            // 民宿位置坐标
                            that.addPosition = res.data.data.position;
                            // 民宿位置描述
                            that.addAddress = res.data.data.address;
                            let tempImgArr = [];
                            for(let i = 0; i < res.data.data.img.length; i++){
                                let tempImgObj = {};
                                tempImgObj.name = res.data.data.img[i].img_id.toString();
                                tempImgObj.url = res.data.data.img[i].img_url;
                                // console.log(res.data.data.img[i].img_url);
                                // console.log(tempImgObj)
                                tempImgArr.push(tempImgObj);
                            }
                            // console.log(tempImgArr);
                            // 照片组信息
                            that.mounteImgArr = tempImgArr;
                            that.upLoadImgList = tempImgArr;
                            let is_main = {};
                            for(let i = 0; i < res.data.data.img.length; i++){
                                if(res.data.data.img[i].is_main == 1){
                                    is_main = res.data.data.img[i];
                                    res.data.data.img[i] = res.data.data.img[0];
                                    res.data.data.img[0] = is_main;
                                    // 主页索引
                                    that.homeImgNum = i;
                                }
                            }
                            // console.log(that.upLoadImgList);
                        }
                    })
                },
                // 修改民宿数据处理
                setReviseHomeStay(){
                    if (!this.addName || !this.addDescriptive || !this.addCategory || !this.addHouse_name || !this.addTips || !this.addReason || !this.addHouse_wx || !this.addWifi || !this.addCable_network || !this.addParking || !this.addPosition || !this.addAddress) {
                        this.noUploadInfoTip();
                    } else if (this.addName.length > 10 || this.addName.length > 20 || this.addName.length >
                        20 || this.addName.length > 10) {
                        this.failInfoSizeTip();
                    } else {
                        for (let i = 0; i < this.checkList.length; i++) {
                            let arr = [];
                            for (let j = 0; j < this.checkList[i].content.length; j++) {
                                for (let m = 0; m < this.addHomeStayInfoList.length; m++) {
                                    if (this.addHomeStayInfoList[m] == this.checkList[i].content[j].name) {
                                        arr.push(this.checkList[i].content[j].id.toString());
                                    }
                                }
                            }
                            if (this.checkList[i].title == '酒店服务') {
                                this.addHotel = arr
                            } else if (this.checkList[i].title == '餐饮服务') {
                                this.addRestaurant = arr
                            } else if (this.checkList[i].title == "公共区域设施") {
                                this.addPublic = arr;
                            } else if (this.checkList[i].title == "娱乐设施") {
                                this.addEntertainment = arr
                            }
                        }
                        this.setReviseHomeStayInfo();
                    }
                },
                // 修改民宿请求
                setReviseHomeStayInfo() {
                    let tempCategory = this.addCategory == '自营' ? 0 : 1;
                    let that = this;
                    // console.log(this.reviseHomeStayId);
                    // console.log(this.addName);
                    // console.log(this.addDescriptive);
                    // console.log(tempCategory);
                    // console.log(this.addHouse_name);
                    // console.log(this.addTips);
                    // console.log(this.addReason);
                    // console.log(this.addHouse_wx);
                    // console.log(this.addWifi);
                    // console.log(this.addCable_network);
                    // console.log(this.addParking);
                    // console.log(this.addRestaurant);
                    // console.log(this.addHotel);
                    // console.log(this.addPublic);
                    // console.log(this.addEntertainment);
                    // console.log(this.addPosition);
                    // console.log(this.addAddress);
                    $.ajax({
                        url: setReviseHomeStayURL,
                        type: 'POST',
                        data: {
                            id: this.reviseHomeStayId,
                            name: this.addName,
                            descriptive: this.addDescriptive,
                            category: tempCategory,
                            house_name: this.addHouse_name,
                            tips: this.addTips,
                            reason: this.addReason,
                            house_wx: this.addHouse_wx,
                            wifi: this.addWifi,
                            cable_network: this.addCable_network,
                            parking: this.addParking,
                            restaurant: this.addRestaurant,
                            hotel: this.addHotel,
                            public: this.addPublic,
                            entertainment: this.addEntertainment,
                            position: this.addPosition,
                            address: this.addAddress
                        },
                        dataType: 'json',
                        success(res) {
                            if(res.code == 200){
                                that.addFlag = false;
                                that.queryHomestayList();
                            } else {
                                that.failTip(res.msg);
                            }
                        }
                    })
                },
                // 新建上传图片change
                onUpload(file, fileList) {
                    this.uploadNum++;
                    if (this.uploadNum == 2) {
                        this.upLoadImgList = fileList;
                        this.upLoadImgList.map((e, i) => {
                            if(i == 0){
                                return e.raw.flag = true;
                            } else {
                                return e.raw.flag = false;
                            }
                        })
                        this.uploadNum = 0;
                        // console.log(this.upLoadImgList);
                    }
                },
                // 修改上传图片change
                onUploadRevise(file,fileList){
                    // console.log(file);
                    this.uploadNum++;
                    if (this.uploadNum == 2) {
                        this.upLoadImgList = fileList;
                        this.setUploadImg(file.raw);
                        this.uploadNum = 0;
                    }
                },
                // 修改删除图片remove
                onDeleRevise(file, fileList){
                    // console.log(file);
                    // console.log(file.name);
                    // console.log(this.upLoadImgList)
                    let deleNum = 0;
                    for(let i = 0; i < this.upLoadImgList.length; i++){
                        if( file.name ==  this.upLoadImgList[i].name){
                            deleNum = i;
                            break;
                        }
                    }
                    // console.log(deleNum);
                    // console.log(this.homeImgNum);
                    if(this.homeImgNum == deleNum){
                        this.homeImgNum = 0;
                    }
                    this.setDeleImg(file.name);
                },
                // 设为主页按钮
                upLoadBtn(i) {
                    // console.log(this.upLoadImgList)
                    this.homeImgNum = i;
                    if(this.addBoxShow == false){
                        this.setIsMainImg();
                    }
                },
                // 详情设为主图请求
                setIsMainImg() {
                    // console.log(this.mounteImgArr);
                    let that = this;
                    let tempImg_id = this.mounteImgArr[this.homeImgNum].name
                    $.ajax({
                        url: setIsMainImgURL,
                        data:{
                            img_id: tempImg_id,
                            homestay_id: this.reviseHomeStayId,
                        },
                        type: 'POST',
                        dataType: 'json',
                        success(res){
                            // console.log(res);
                            if(res.code == 200){
                                that.successTip(res.msg);
                            } else if (res.code == 302){
                                that.failTip(res.msg);
                            }
                        }
                    })
                },
                // 详情上传图片请求
                setUploadImg(file){
                    let that = this;
                    // console.log(this.reviseHomeStayId);
                    let formData = new FormData();
                    formData.append('file', file);
                    formData.append("homestay_id",this.reviseHomeStayId)
                    // console.log(formData.get('file'));
                    $.ajax({
                        url: setUploadImgURL,
                        data: formData,
                        type: 'POST',
                        processData:false,
                        contentType:false, 
                        success(res){
                            if(res.code == 200){
                                that.queryReviseHomeStay();
                            }
                        }
                    })
                },
                // 详情删除图片请求
                setDeleImg(img_id){
                    let that = this;
                    $.ajax({
                        url: setDeleImgURL,
                        type: 'POST',
                        data: {
                            img_id,
                            homestay_id: this.reviseHomeStayId
                        },
                        success(res){
                            console.log(res);
                            if(res.code == 200){
                                that.queryReviseHomeStay();
                            }
                        }
                    })
                },
                // 图片上传个数提示
                uploadImgTip() {
                    this.$message({
                        message: `已上传${this.uploadImgNum}张图片, 还可上传${20 - this.uploadImgNum}张`,
                        type: 'success'
                    });
                },
                // 图片上传到达上限提示
                noUploadImgTip() {
                    this.$message({
                        message: `最多上传20张图片`,
                        type: 'warning'
                    });
                },
                // 民宿信息填写不完整提示
                noUploadInfoTip() {
                    this.$message({
                        message: `民宿信息填写不完整提示`,
                        type: 'warning'
                    });
                },
                // 信息不符
                failInfoSizeTip() {
                    this.$message({
                        message: `民宿信息填写超出字数限制`,
                        type: 'warning'
                    });
                },
                // 新建民宿参数错误
                failArgumentsTip(msg) {
                    this.$message({
                        message: `${msg}`,
                        type: 'warning'
                    });
                },
                // 新建民宿提交失败
                failAddInfoTip(msg) {
                    this.$message({
                        message: `${msg}`,
                        type: 'warning'
                    });
                },
                // 成功
                successTip(msg) {
                    this.$message({
                        message: `${msg}`,
                        type: 'success'
                    });
                },
                // 失败
                failTip(msg) {
                    this.$message({
                        message: `${msg}`,
                        type: 'warning'
                    });
                },
                // 接受子组件定位
                setShowPosition(e) {
                    // console.log(e);
                    this.addPosition = e;
                }

            },
            mounted() {
                this.queryHomestayList();
                this.queryHomeStayCheck();
            },
            watch: {
                name() {
                    if (!this.name && !this.house_name && !this.tempCategory) {
                        this.queryHomestayList();
                        this.currentPage = 1;
                    }
                },
                house_name() {
                    if (!this.name && !this.house_name && !this.tempCategory) {
                        this.queryHomestayList();
                        this.currentPage = 1;
                    }
                },
                category() {
                    if (!this.name && !this.house_name && !this.tempCategory) {
                        this.queryHomestayList();
                        this.currentPage = 1;

                    }
                },
                addFlag(){
                    if(!this.addFlag){
                        this.addName = '';
                        this.addDescriptive = '';
                        this.addCategory = '';
                        this.addHouse_name = '';
                        this.addTips = '';
                        // 推荐理由
                        this.addReason = '';
                        // 房主微信
                        this.addHouse_wx = '';
                        // 无线
                        this.addWifi = '';
                        // 有线网络服务
                        this.addCable_network = '';
                        // 停车服务
                        this.addParking = '';
                        // 服务信息总合
                        this.addHomeStayInfoList = [];
                        // 民宿位置坐标
                        this.addPosition = '';
                        // 民宿位置描述
                        this.addAddress = '';
                        // 照片组信息
                        this.upLoadImgList = [];
                        // 主页索引
                        this.homeImgNum = 0;
                        // 默认图片列表
                        this.mounteImgArr = [];
                    }
                }
            },
            components: {
                container
            }
        })
    </script>


</body>

</html>