<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="homeStayMaintain.css">
    <link rel="stylesheet" href="index.css">
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.6&key=7628693ecd6dc7544c976722c9a15b4c">
    </script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <title>民宿维护</title>
</head>

<body>
    <div id="homeStayMaintain">
        <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <div id="search-box">
                <div id="search-left">
                    <el-form-item label="民宿名称">
                        <el-input v-model="name" placeholder="请输入" size="mini"></el-input>
                    </el-form-item>
                    <el-form-item label="房东姓名">
                        <el-input v-model="house_name" placeholder="请输入" size="mini"></el-input>
                    </el-form-item>
                    <el-form-item label="运营类别">
                        <el-select v-model="category" placeholder="请选择" size="mini">
                            <el-option label="自营" value="1"></el-option>
                            <el-option label="民居" value="2"></el-option>
                        </el-select>
                    </el-form-item>
                </div>
                <div id="search-right">
                    <el-form-item>
                        <el-button type="primary" size="mini" @click="searchHomeStay">查询</el-button>
                        <el-button type="info" size="mini" @click="resetHomeStay">重置</el-button>
                    </el-form-item>
                </div>
            </div>
        </el-form>
        <el-button size="mini" icon="el-icon-plus" type="primary" class="add-homestay-btn" @click="addHomeStayBtn">
            新建</el-button>
        <el-table :data="tableData" stripe style="width: 100%;" @cell-click="reviseBtn">
            <el-table-column prop="name" label="民宿名称">
            </el-table-column>
            <el-table-column prop="category" label="运营类别">
            </el-table-column>
            <el-table-column prop="house_name" label="房东姓名">
            </el-table-column>
            <el-table-column prop="number" label="房型数量">
            </el-table-column>
            <el-table-column prop="time" label="创建时间">
            </el-table-column>
            <el-table-column prop="recommend" label="推荐" width="180">
            </el-table-column>
            <el-table-column label="操作">
                <el-button icon="el-icon-edit" circle size="mini" type="primary"></el-button>
            </el-table-column>
        </el-table>
        <div id="footer-page-box">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                :current-page="currentPage" :page-sizes="[5, 10, 20, 50]" :page-size="100"
                layout="total, sizes, prev, pager, next, jumper" :total="totalNum">
            </el-pagination>
        </div>


        <!-- -------------------------------- 添加民宿,民宿详情,民宿信息修改弹出层 -------------------------------- -->
        <div id="addBox" v-if="addFlag">
            <i class="el-icon-close" @click="closeAddBoxClick"></i>
            <div>
                <h2>基础信息</h2>
                <el-input class="add-el-input add-el-input--suffix add-el-input__inner " style="width:30%" type="text"
                    placeholder="民宿名称" v-model="addName" maxlength="10" show-word-limit>
                </el-input>
                <el-input class="add-el-input add-el-input--suffix add-el-input__inner " type="text" placeholder="一句话描述"
                    v-model="addDescriptive" maxlength="20" show-word-limit></el-input>
                <el-select v-model="addCategory" placeholder="运营类别" class="add-el-select add-sele-width">
                    <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <el-input class="add-el-input add-el-input--suffix add-el-input__inner " type="text" placeholder="房东姓名"
                    v-model="addHouse_name" show-word-limit></el-input>
                <el-input class="add-el-input add-el-input--suffix add-el-input__inner " type="text" placeholder="重要提示"
                    v-model="addTips" maxlength="20" show-word-limit></el-input>
                <el-input class="add-el-input add-el-input--suffix add-el-input__inner " type="text" placeholder="推荐理由"
                    v-model="addReason" maxlength="10" show-word-limit></el-input>
                <el-input class="add-el-input add-el-input--suffix add-el-input__inner " type="text" placeholder="房东微信号"
                    v-model="addHouse_wx" show-word-limit></el-input>
            </div>
            <div id="homestay-img">
                <h2>民宿照片<span class="upload-num">{{uploadImgNum}}/20</span></h2>
                <div class="upLoadSmallBox">
                    <div class="upLoadBigBox">


                        <el-upload action="https://api.sdzhujialin.com/admin/Index/IndexData" list-type="picture-card" :on-change="onUpload" :limit="20"
                            accept="image/*" :file-list="mounteImgArr">
                            <i class="el-icon-plus"></i>
                        </el-upload>
                        <el-button type="primary" plain v-for="imgItem, i in upLoadImgList" class="add-uploadimgbtn"
                            @click="upLoadBtn(i)" size="mini">{{homeImgNum == i?'主页':'设为主页'}}</el-button>
                    </div>
                </div>
            </div>
            <div>
                <h2>设施维护</h2>
                <h4>网络服务</h4>
                <p>无线网络</p>
                <div class="radio-box">
                    <el-radio v-model="addWifi" label="0">无</el-radio>
                    <el-radio v-model="addWifi" label="1">收费</el-radio>
                    <el-radio v-model="addWifi" label="2">免费</el-radio>
                </div>

                <p>有线网络</p>
                <div class="radio-box">
                    <el-radio v-model="addCable_network" label="0">无</el-radio>
                    <el-radio v-model="addCable_network" label="1">收费</el-radio>
                    <el-radio v-model="addCable_network" label="2">免费</el-radio>
                </div>

                <h4>停车服务</h4>
                <div class="radio-box">
                    <el-radio v-model="addParking" label="0">无</el-radio>
                    <el-radio v-model="addParking" label="1">收费</el-radio>
                    <el-radio v-model="addParking" label="2">免费</el-radio>
                </div>

                <div v-for="checkItem in checkList">
                    <h4>{{checkItem.title}}</h4>
                    <div class="check-box">
                        <el-checkbox-group v-model="addHomeStayInfoList">
                            <el-checkbox v-for="check in checkItem.content" :label="check.name"></el-checkbox>
                        </el-checkbox-group>
                    </div>
                </div>

            </div>
            <div id="mapBox">
                <h2>民宿位置</h2>
                <container @set-to-position="setShowPosition" :position="addPosition"></container>
                <el-input v-model="addAddress" placeholder="民宿地址描述" size="small" class="add-addressInp" maxlength="20"
                    show-word-limit></el-input>
            </div>
            <div id="addInfoUpload">
                <el-button type="info" size="mini" @click="closeAddBoxClick">取消</el-button>
                <el-button type="primary" size="mini" @click="UploadHomeStayInfo">提交</el-button>
            </div>
        </div>
    </div>



    <script type="text/html" id="container">
            <div id="addContainer"></div>
        </script>

    <script>
        let container = {
            template: "#container",
            data() {
                return {
                    currentPosition: '',
                }
            },
            props: ['position'],
            methods: {
                // 创建地图
                createMap() {
                    let map = new AMap.Map('addContainer', {
                        resizeEnable: true,
                        zoom: 8
                    })
                    let position = '';
                    let lat = '';
                    let lng = '';
                    let marker = '';
                    let that = this;
                    map.on('click', function (e) {
                        lat = e.lnglat.getLat();
                        lng = e.lnglat.getLng();
                        position = `${e.lnglat.getLng()},${e.lnglat.getLat()}`;
                        this.currentPosition = position;
                        // console.log(lng, lat)
                        if (!marker) {
                            marker = new AMap.Marker({
                                icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
                                position: [lng, lat],
                                offset: new AMap.Pixel(-13, -30)
                            });
                            marker.setMap(map);
                        } else {
                            marker.setMap(null);
                            marker = new AMap.Marker({
                                icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
                                position: [lng, lat],
                                offset: new AMap.Pixel(-13, -30)
                            });
                            marker.setMap(map);
                        }
                        that.$emit("set-to-position", this.currentPosition);
                    })

                },
            },
            mounted() {
                this.createMap();
            },
            watch: {

            },
        }
        // 页面首次渲染
        const fristList = 'https://api.sdzhujialin.com/admin/Index/IndexData';

        new Vue({
            el: '#homeStayMaintain',
            data: {
                formInline: {
                    user: '',
                    region: ''
                },
                currentPage: 1,
                tableData: [],
                everyPageNum: 5,
                totalNum: 0,
                name: '',
                house_name: '',
                category: '',

                // ------------ 添加民宿弹出层 ---------------

                text: '',
                dialogImageUrl: '',
                dialogVisibleNum: 0,
                upLoadImgList: [],
                homeImgNum: 0,
                options: [{
                    value: '1',
                    label: '自营'
                }, {
                    value: '2',
                    label: '民居'
                }],
                checkList: [],
                // 是否是新建
                addFlag: '',
                // 上传图片个数
                uploadImgNum: 0,
                // 默认上传图片列表
                mounteImgArr: [],
                // add弹框
                addFlag: false,

                // 民宿服务
                homeStayServe: [],
                // 民宿名称
                addName: '',
                // 描述
                addDescriptive: '',
                // 运营类别
                addCategory: '',
                // 房东姓名
                addHouse_name: '',
                // 重要提示
                addTips: '',
                // 推荐理由
                addReason: '',
                // 房东微信
                addHouse_wx: '',
                // 无线
                addWifi: '',
                // 有线
                addCable_network: '',
                // 停车
                addParking: '',
                // 总选项
                addHomeStayInfoList: [],
                // 餐饮服务
                addRestaurant: [],
                // 酒店服务
                addHotel: [],
                // 公共设施服务
                addPublic: [],
                // 娱乐设施
                addEntertainment: [],
                // 民宿位置
                addPosition: '',
                // 民宿位置描述
                addAddress: '',
                // 上传change触发次数
                uploadNum: 0,
            },
            methods: {
                handleSizeChange(val) {
                    this.everyPageNum = val;
                    this.queryHomestayList();
                },
                handleCurrentChange(val) {
                    this.currentPage = val;
                    this.queryHomestayList();
                },
                // 页面请求数据
                queryHomestayList() {
                    let that = this;
                    let data = {
                        'size': `${this.everyPageNum}`,
                        'order': `${this.currentPage}`,
                        'name': `${this.name}`,
                        'house_name': `${this.house_name}`,
                        'category': `${this.category}`
                    }
                    $.ajax({
                        url: fristList,
                        data: data,
                        type: 'POST',
                        dataType: 'json',
                        success(res) {
                            that.totalNum = res.data.total;
                            that.tableData = res.data.data;
                            that.tableData.map(e => {
                                e.category = e.category == 1 ? '自营' : '民居';
                                return e;
                            });
                        },
                        error(err) {
                            console.log(err.msg);
                        }
                    })
                },
                // 发送可选项请求
                queryHomeStayCheck() {
                    let that = this;
                    $.ajax({
                        url: 'https://api.sdzhujialin.com/admin/Facilities/IndexData',
                        type: 'POST',
                        dataType: 'json',
                        success(res) {
                            that.checkList = res.data;
                        }
                    })
                },
                // 查询民宿
                searchHomeStay() {
                    let tempCategory = this.category == '自营' ? 1 : 2;
                    if (!this.name && !this.house_name && !tempCategory) {
                        this.noSearchTip();
                    } else {
                        this.queryHomestayList();
                    }
                },
                // 重置民宿
                resetHomeStay() {
                    this.name = '';
                    this.house_name = '';
                    this.category = '';
                    this.queryHomestayList();
                },
                // 未填写搜索条件提示
                noSearchTip() {
                    this.$message({
                        message: '搜索条件未填写',
                        type: 'warning'
                    });
                },
                // 修改按钮
                reviseBtn(row, column, cell, event) {
                    let currentCell = cell.className.split("")[18];
                    if (currentCell == 7) {
                        // 发请求 row.xxxxx .....
                        console.log(row);
                    }


                },
                // 弹窗控制
                addHomeStayBtn() {
                    this.addFlag = !this.addFlag;

                },
                closeAddBoxClick() {
                    this.addFlag = false;
                },
                // 提交新建民宿信息
                UploadHomeStayInfo() {
                    // console.log(this.addHomeStayInfoList);
                    if (!this.addName || !this.addDescriptive || !this.addCategory || !this.addHouse_name ||!this.addTips || !this.addReason || !this.addHouse_wx || !this.addWifi || !this.addCable_network || !this.addParking || !this.addPosition || !this.addAddress) {
                        this.noUploadInfoTip();
                    } else if (this.addName.length > 10 || this.addName.length > 20 || this.addName.length >
                        20 || this.addName.length > 10) {
                        this.failInfoSizeTip();
                    } else {
                        for (let i = 0; i < this.checkList.length; i++) {
                            let arr = [];
                            for (let j = 0; j < this.checkList[i].content.length; j++) {
                                for (let m = 0; m < this.addHomeStayInfoList.length; m++) {
                                    if (this.addHomeStayInfoList[m] == this.checkList[i].content[j].name) {
                                        arr.push(this.checkList[i].content[j].id.toString());
                                    }
                                }
                            }
                            if (this.checkList[i].title == '酒店服务') {
                                this.addHotel = arr
                            } else if (this.checkList[i].title == '餐饮服务') {
                                this.addRestaurant = arr
                            } else if (this.checkList[i].title == "公共区域设施") {
                                this.addPublic = arr;
                            } else if (this.checkList[i].title == "娱乐设施") {
                                this.addEntertainment = arr
                            }
                        }
                        let that = this;
                        // 传info发请求
                        $.ajax({
                            url: 'https://api.sdzhujialin.com/admin/Index/AddData',
                            type: 'POST',    
                            data: {
                                name: this.addName,
                                descriptive: this.addDescriptive,
                                category: this.addCategory,
                                house_name: this.addHouse_name,
                                tips: this.addTips,
                                reason: this.addReason,
                                house_wx: this.addHouse_wx,
                                wifi: this.addWifi,
                                cable_network: this.addCable_network,
                                parking: this.addParking,
                                restaurant: this.addRestaurant,
                                hotel: this.addHotel,
                                public: this.addPublic,
                                entertainment: this.addEntertainment,
                                position: this.addPosition,
                                address: this.addAddress
                            },
                            dataType: 'json',
                            success(res) {
                                that.queryImg(res.data);
                            }
                        })
                        
                    }
                },
                queryImg(id){
                    let that = this;
                    var fd = new FormData();
                    for(let i = 0;i<this.upLoadImgList.length;i++){
                        fd.append("files[]", this.upLoadImgList[i].raw)
                    }
                    fd.append("id",id);
                    fd.append("flag",this.homeImgNum);
                    console.log(fd.get("files[]"));

                    // console.log(fd.get("id"));
                    $.ajax({
                        url: 'https://api.sdzhujialin.com/admin/Index/upload',
                        type: 'POST',
                        data: fd,
                        processData:false,
                        contentType:false, 
                        success(res){
                            console.log(res);
                            if(res.code == 200){
                                that.addFlag = false;
                            } else if (res.code == 201){
                                this.failArgumentsTip(res.msg);
                            } else if(res.code == 302){
                                this.failAddInfoTip(res.msg);
                            }
                            
                        }
                    })
                },

                // 上传图片change
                onUpload(file, fileList) {
                    this.uploadNum++;
                    if (this.uploadNum == 2) {
                        this.upLoadImgList = fileList;
                        this.upLoadImgList.map((e, i) => {
                            if(i == 0){
                                return e.raw.flag = true;
                            } else {
                                return e.raw.flag = false;
                            }
                        })
                        this.uploadNum = 0;
                        console.log(this.upLoadImgList);
                    }

                },
                // 设为主页按钮
                upLoadBtn(i) {
                    
                    if (i != 0) {
                        this.upLoadImgList[0].raw.flag = false;
                    }
                    this.upLoadImgList.map(e => {
                        return e.raw.flag = false;
                    })
                    this.upLoadImgList[i].raw.flag = true;
                    console.log(this.upLoadImgList)
                    this.homeImgNum = i;
                },



                // 图片上传个数提示
                uploadImgTip() {
                    this.$message({
                        message: `已上传${this.uploadImgNum}张图片, 还可上传${20 - this.uploadImgNum}张`,
                        type: 'success'
                    });
                },
                // 图片上传到达上限提示
                noUploadImgTip() {
                    this.$message({
                        message: `最多上传20张图片`,
                        type: 'warning'
                    });
                },
                // 民宿信息填写不完整提示
                noUploadInfoTip() {
                    this.$message({
                        message: `民宿信息填写不完整提示`,
                        type: 'warning'
                    });
                },
                // 信息不符
                failInfoSizeTip() {
                    this.$message({
                        message: `民宿信息填写超出字数限制`,
                        type: 'warning'
                    });
                },
                // 新建民宿参数错误
                failArgumentsTip(msg) {
                    this.$message({
                        message: `${msg}`,
                        type: 'warning'
                    });
                },
                // 新建民宿提交失败
                failAddInfoTip(msg) {
                    this.$message({
                        message: `${msg}`,
                        type: 'warning'
                    });
                },
                // 接受子组件定位
                setShowPosition(e) {
                    // console.log(e);
                    this.addPosition = e;
                }

            },
            mounted() {
                this.queryHomestayList();
                this.queryHomeStayCheck();
            },
            watch: {
                name() {
                    if (!this.name && !this.house_name && !this.tempCategory) {
                        this.queryHomestayList();
                    }
                },
                house_name() {
                    if (!this.name && !this.house_name && !this.tempCategory) {
                        this.queryHomestayList();
                    }
                },
                category() {
                    if (!this.name && !this.house_name && !this.tempCategory) {
                        this.queryHomestayList();
                    }
                },
                addFlag(){
                    if(!this.addFlag){
                        this.addName = '';
                        this.addDescriptive = '';
                        this.addCategory = '';
                        this.addHouse_name = '';
                        this.addTips = '';
                        this.addReason = '';
                        this.addHouse_wx = '';
                        this.addWifi = '';
                        this.addCable_network = '';
                        this.addParking = '';
                        this.addHomeStayInfoList = [];
                        this.addPosition = [];
                        this.addAddress = '';
                        this.upLoadImgList = [];
                    }
                }
            },
            components: {
                container
            }
        })
    </script>


</body>

</html>