#homeStayMaintain{
    min-width: 1000px;
    position: relative;
}
.cell {
    text-align: center;
}
#search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-width: 740px;
}
#search-box input{
    width: 120px;
}
#footer-page-box{
    margin-top: 40px;
    text-align: center;
}
.add-homestay-btn{
    margin-bottom: 15px;
}
/* 关闭弹出层x */
.el-icon-close {
    position: absolute;
    top: 5px;
    right: 25px;
    padding: 10px;
    cursor: pointer;
}



/* 添加民宿弹出层 */
#addBox{
    width: 1100px;
    height: 700px;
    padding: 25px;
    position: absolute;
    margin: auto;
    top: 60px;
    right: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px #dddddd;
    overflow-y: scroll;
    border-radius: 8px;
    z-index: 50;
}

.add-el-input input{
    width: 100% !important;
    margin-bottom: 8px;
}
.add-el-select{
    width: 30% !important;
    margin-bottom: 8px;
}
.add-sele-width{
    width: 30% !important;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
}

.add-uploadimgbtn:nth-of-type(1){
    margin: 0 !important;
}
.add-uploadimgbtn{
    width: 148px;
    text-align: center;
    position: relative !important;
    top: -40px !important;
    margin: 0 !important;
    margin-left: 8px !important;
}
.add-el-input--suffix{
    width: 100% !important;
}
.add-el-input__inner{
    width: 30% !important;
}
.upLoadSmallBox{
    
    width: 100% !important;
    height: 200px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #dcdfe6;
    border-radius: 6px;
    overflow-x: scroll !important;
    overflow-y: hidden;
}
#homestay-img{
    position: relative;
    width: 100%;
}
.upLoadBigBox{
    position: relative;
    width: 3500px !important;
}
.upload-num{
    position: absolute !important;
    font-size: 14px;
    font-weight: 500;
    right: 20px;
    padding-top: 28px;
}
h2,h4,p{
    color: #666666;
}
h4{
    padding-left: 28px;
}
p{
    padding-left: 56px;
}
.radio-box{
    padding-left: 84px;
}
.check-box{
    width: 800px;
    padding-left: 28px;
}
.check-box label{
    margin-bottom: 5px;
}