<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="elindex.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
    <div id="roomRoot">
        <el-tabs type="card" @tab-click="handleClick" id="">
            <el-tab-pane label="房态维护">
                <el-row>
                    <el-button class="el-revise-btn revise-btn" type="primary" size="small"
                        @click="reviseStateFrameClick">批量修改房态</el-button>
                    <el-button class="el-revise-btn revise-btn" type="primary" size="small"
                        @click="reviseNumFrameClick">批量修改房量</el-button>
                </el-row>
                <el-button-group style="margin-bottom: 15px;">
                    <!-- <el-button type="primary" icon="el-icon-arrow-left" @click="beforeDate('left')">前七天</el-button>
                    <el-button type="primary">{{startDate}}至{{endDate}}</el-button>
                    <el-button type="primary" icon="el-icon-arrow-right" @click="nextDate('right')">后七天</el-button> -->

                    <div id="dateChange">
                        <el-button type="primary" icon="el-icon-arrow-left" @click="beforeDate">前七天</el-button>
                        <el-date-picker v-model="roomStateStartValue" type="week" format="yyyy 第 WW 周"
                            placeholder="选择周">
                        </el-date-picker>
                        <el-button type="primary" icon="el-icon-arrow-right" @click="nextDate">后七天</el-button>
                    </div>

                </el-button-group>
                <el-table :data="tableData" border style="width: 100%">
                    <el-table-column label="房型" :width="180">
                        房型名称****
                    </el-table-column>
                    <el-table-column v-for="dayTil in week" :label="dayTil">

                    </el-table-column>
                </el-table>
            </el-tab-pane>
            <el-tab-pane label="房价维护">
                <el-table :data="tableData" border style="width: 100%">
                    <el-table-column prop="date" label="房型" :width="180">
                    </el-table-column>
                    <el-table-column v-for="item,i in 7" :key="i" prop="name" label="111">
                    </el-table-column>
                </el-table>
            </el-tab-pane>
            <el-tab-pane label="房型维护">
                <el-row>
                    <el-button class="el-revise-btn revise-btn" type="primary" size="small">创建房型</el-button>
                </el-row>
                <el-form :inline="true" :model="formInline" class="demo-form-inline">
                    <el-form-item label="房间名称">
                        <el-input v-model="formInline.user" placeholder="房间名称"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit" class="el-revise-btn revise-btn" size="small">查询
                        </el-button>
                    </el-form-item>
                </el-form>
                <el-table :data="tableData" border style="width: 100%">
                    <el-table-column label="房型" :width="130">
                    </el-table-column>
                </el-table>
            </el-tab-pane>
        </el-tabs>

        <div v-if="reviseStateFrame" id="revise-state">
            <i class="el-icon-close" @click="closeReviseStateClick"></i>
            <h4 class="revise-state-title">批量修改房态</h4>
            <p>房型:</p>
            <div id="revise-state-name">
                <div v-for="n in 10">
                    <el-checkbox>备选项</el-checkbox>
                </div>
            </div>
            <div>
                <span>房态设置</span>
                <el-button class="el-revise-btn revise-btn" type="primary" size="small">开房</el-button>
                <el-button class="el-revise-btn revise-btn" type="primary" size="small">关房</el-button>
            </div>
            <div>
                <span>修改日期</span>
                <el-date-picker v-model="roomStateValue" type="daterange" start-placeholder="开始日期"
                    end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']" size="mini">
                </el-date-picker>
                <p>可修改60天房态</p>
                <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选
                </el-checkbox>
                <div style="margin: 15px 0;"></div>
                <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                    <el-checkbox v-for="day,i in week" :label="day" :key="i">{{day}}</el-checkbox>
                </el-checkbox-group>
                <el-row class="revise-bot-btn">
                    <el-button type="warning" size="small" @click="roomStateClose">取消</el-button>
                    <el-button type="primary" size="small" @click="roomStateOpen">确认</el-button>
                </el-row>
            </div>
        </div>
        <div v-if="reviseNumFrame" id="revise-number">
            <i class="el-icon-close" @click="closeReviseNumClick"></i>
            <h4 class="revise-state-title">批量修改房量</h4>
            <p>房型</p>
            <div id="revise-number-name">
                <div v-for="n in tableData">
                    <el-checkbox>备选项</el-checkbox>
                    <el-input v-model="n.value" size="mini" placeholder="请输入" clearable
                        style="display: inline-block;width: 80px;">
                    </el-input>间
                </div>

            </div>
            <div>
                <span>修改日期</span>

                <el-date-picker v-model="roomNumValue" type="daterange" start-placeholder="开始日期" end-placeholder="结束日期"
                    :default-time="['00:00:00', '23:59:59']" size="mini">
                </el-date-picker>
                <p>可修改60天房态</p>
                <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选
                </el-checkbox>
                <div style="margin: 15px 0;"></div>
                <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                    <el-checkbox v-for="day,i in week" :label="day" :key="i">{{day}}</el-checkbox>
                    </el-chFeckbox-group>
                    <el-row class="revise-bot-btn">
                        <el-button type="warning" size="small" @click="roomNumClose">取消</el-button>
                        <el-button type="primary" size="small" @click="roomNumOpen">确认</el-button>
                    </el-row>
            </div>
        </div>

        <!-- <el-button :plain="true" @click="open2">成功</el-button>
        <el-button :plain="true" @click="open4">警告</el-button> -->
    </div>


    <script>
        const weekOptions = ['周日', '周一', '周二', '周三', '周四', '周五', '周六'];
        var temp = new Date();
        new Vue({
            el: "#roomRoot",
            data: {
                tableData: [{
                    date: '2016-05-02',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                    value: ''
                }, {
                    date: '2016-05-04',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1517 弄',
                    value: ''
                }, {
                    date: '2016-05-01',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1519 弄',
                    value: ''
                }, {
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1516 弄',
                    value: ''
                }],
                tabHighLight: '',
                stateTime: "2017/07/01",
                endTime: "2017/07/07",
                formInline: {
                    user: '',
                    region: ''
                },
                checkAll: false,
                checkedCities: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
                week: weekOptions,
                isIndeterminate: true,
                reviseNumber: '',
                reviseStateFrame: false,
                reviseNumFrame: false,
                roomStateStartValue: '',
                beforeWeek: '',
                nextWeek: '',
                month: 0,
                year: 0,
                data: 0,
                beforeNum: 0,
                nextNum: 0,

                roomNumValue: '',
                roomStateValue: '',
            },
            mounted() {
                this.roomStateStartValue = new Date();
                var myddy = this.roomStateStartValue.getDay();//获取存储当前日期
                if (myddy == 0) {
                    myddy = 7;
                }
                var weekday = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];

                console.log(weekday[myddy]);
            },
            methods: {
                handleClick(tab, event) {
                    console.log(tab.label);
                },
                onSubmit() {
                    console.log('submit!');
                },
                // 房态弹出框
                reviseStateFrameClick() {
                    this.reviseStateFrame = !this.reviseStateFrame;
                },
                closeReviseStateClick() {
                    this.reviseStateFrame = false;
                },
                // 房量弹出框
                reviseNumFrameClick() {
                    this.reviseNumFrame = !this.reviseNumFrame
                },
                closeReviseNumClick() {
                    this.reviseNumFrame = false;
                },
                handleCheckAllChange(val) {
                    this.checkedCities = val ? weekOptions : [];
                    this.isIndeterminate = false;
                },
                handleCheckedCitiesChange(value) {
                    let checkedCount = value.length;
                    this.checkAll = checkedCount === this.week.length;
                    this.isIndeterminate = checkedCount > 0 && checkedCount < this.week.length;
                },
                // 上一周
                beforeDate() {
                    console.log("上一周");
                },
                // 下一周
                nextDate() {
                    console.log("下一周");
                    this.nextNum++;
                    if (this.nextNum < 5) {

                    } else {
                        this.open4();
                    }

                },

                roomStateOpen() {
                    this.$message({
                        showClose: true,
                        message: '房态修改成功',
                        type: 'success'
                    });
                    this.reviseStateFrame = false;
                },
                roomNumOpen() {
                    this.$message({
                        showClose: true,
                        message: '房量修改成功',
                        type: 'success'
                    });
                    this.reviseNumFrame = false;
                },
                roomStateClose(){
                    this.reviseStateFrame = false;
                },
                roomNumClose(){
                    this.reviseNumFrame = false;
                },
                open4() {
                    this.$message({
                        showClose: true,
                        message: '只能修改两个月的信息',
                        type: 'error'
                    });
                }


                // getMonDate(test) {
                //     console.log(test);
                //     if (test.getDay() == 1)
                //         return test;
                //     if (test.getDay() == 0)
                //         test.setDate(test.getDate());
                //     else
                //         test.setDate(test.getDate() - test.getDay() + 1);
                //     return test;
                // },
                // // 0-6转换成中文名称
                // getDayName(day) {
                //     var day = parseInt(day);
                //     if (isNaN(day) || day < 0 || day > 6)
                //         return false;
                //     var weekday = ["日", "一", "二", "三", "四", "五", "六"];
                //     return weekday[day];
                // },
                // getResult(time, a) {
                //     var timeobj = this.getMonDate(time); // timeobj是当前星期一的日期对象
                //     console.log(timeobj);
                //     var temTime = new Date(timeobj.getTime()); //当前星期一对象转换成时间戳
                //     var arr = [];
                //     var week = [];
                //     var dayss = new Date();
                //     for (var i = 0; i < 7; i++) {
                //         var time1 = new Date(temTime.getTime());
                //         console.log(time1);
                //         var time2 = dayss.getTime();
                //         var result = time1 <= time2;
                //         var ymd = this.formatDate(temTime);
                //         // arr.push({'dayss':temTime.getDate(),'daystate':false}); //一周几号
                //         arr.push({
                //             'date': ymd,
                //             'state': result,
                //             'showDate': temTime.getDate()
                //         });
                //         week.push(this.getDayName(temTime.getDay())); //一周 周几
                //         temTime.setDate(temTime.getDate() + 1);
                //     }
                //     this.weeks = week;
                //     this.months = arr;
                //     // console.log(this.months);

                //     if (a == 'left') {
                //         // $(".dayitem").removeClass("finish");
                //         this.flag = this.months[this.months.length - 1].date;
                //         var temp1 = temp;
                //         temp1.setDate(temp1.getDate() - temp1.getDay() + 7);
                //         this.getTimes(temp1);
                //     } else if (a == 'right') {
                //         // $(".dayitem").removeClass("finish");
                //         this.flag = this.months[0].date;
                //         var temp1 = temp;
                //         this.getTimes(temp1);
                //     }
                // },
                // getTimes(temp2) {
                //     var m = temp2.getMonth() + 1;
                //     var d = temp2.getDate();
                //     if (m < 10) {
                //         m = "0" + m;
                //     }
                //     if (d < 10) {
                //         d = "0" + d;
                //     }
                //     this.startDate = m + "月" + d + "日";
                // },
                // beforeDate(action) {
                //     temp.setDate(temp.getDate() - 7);
                //     this.getResult(temp, action);
                // },
                // nextDate(action) {
                //     temp.setDate(temp.getDate() + 7);
                //     this.getResult(temp, action);
                // },
                // formatDate(date) {
                //     var year = date.getFullYear();
                //     var months = date.getMonth() + 1;
                //     var month = (months < 10 ? '0' + months : months).toString();
                //     var day = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()).toString();
                //     return year + month + day;
                // },
                // getIndex(idx, item) {
                //     this.flag = this.months[idx].date;
                //     var year = item.substring(0, 4);
                //     var month = item.substring(4, 6);
                //     var day = item.substring(6, 8);
                //     var str = month + "月" + day + "日";
                //     this.startDate = str;
                //     console.log(item);
                //     getReportList(year + '-' + month + '-' + day);
                // }
            },
            computed: {

            }
        })
    </script>
</body>

</html>