
.cell {
    text-align: center;
}

.revise-btn {
    margin-bottom: 15px;
    transition: .5s;
}

#revise-state,
#revise-number {
    background-color: white;
    width: 600px;
    height: 650px;
    box-shadow: 0 0 10px #ccc;
    padding: 15px 80px;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#revise-state-name, #revise-number-name {
    height: 200px;
    border: 1px solid #eeeeee;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.el-icon-close {
    position: absolute;
    top: 5px;
    right: 25px;
    padding: 10px;
    cursor: pointer;
}

.revise-state-title {
    text-align: center;
}
.revise-bot-btn{
    margin-top: 35px;
    display: flex;
    justify-content: center;
}
