#roomRoot{
    min-width: 1000px;
    position: relative;
}
.cell {
    text-align: center;
}

.revise-btn {
    margin-bottom: 15px;
    transition: .5s;
}

#revise-state,
#revise-number {
    background-color: white;
    width: 600px;
    height: 650px;
    box-shadow: 0 0 10px #ccc;
    padding: 15px 80px;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#revise-state-name, #revise-number-name {
    height: 200px;
    border: 1px solid #eeeeee;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.el-icon-close {
    position: absolute;
    top: 5px;
    right: 25px;
    padding: 10px;
    cursor: pointer;
}

.revise-state-title {
    text-align: center;
}
.revise-bot-btn{
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

#footer-page-box{
    margin-top: 40px;
    text-align: center;
}
.is-left{
    text-align: center !important;
}

.addHouseType{
    position: absolute;
    margin: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 800px;
    background-color: white;
    border: 1px solid #ececec;
    box-shadow: 0 0 15px #e4e4e4;
    z-index: 100;
    border-radius: 8px;
    padding: 20px;
    overflow-y: scroll;
}

.addHouseTypeInp{
    margin: 5px 0;
}
.smallInput{
    width: 300px;
}
.seleLabel{
    display: inline-block;
    width: 100px;
    padding-right: 8px;
    box-sizing: border-box;
    text-align: center;
}
.smallerInput{
    display: inline-block;
    width: 150px;
}
.addBoxFooter{
    margin: 18px;
    text-align: center;
}
.add-uploadimgbtn:nth-of-type(1){
    margin: 0 !important;
}
.add-uploadimgbtn{
    width: 148px;
    text-align: center;
    position: relative !important;
    top: -40px !important;
    margin: 0 !important;
    margin-left: 8px !important;
}
.upLoadBigBox{
    width: 780px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #dddddd;
}
.upLoadSmallBox{
    width: 2000px;
    height: 170px;
}
.footer-check-box{
    width: 200px;
}
.el-icon-close {
    position: absolute;
    top: 5px;
    right: 25px;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
}
.housePricePLRevise{
    display: inline-block !important;
}