<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="tabs.css">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <title>房态房价房型维护</title>
</head>

<body>
    <div id="roomRoot">
        
        <el-tabs tab-position="left" :width="500" @tab-click="homeStayTabs">
            <el-tab-pane v-for="item,i in homeStayData" :label="item.name">
                <el-tabs type="card" @tab-click="houseTabsClick" v-model="activeName">
                    <el-tab-pane label="房态维护">
                        <div>
                            <el-button class="el-revise-btn revise-btn" type="primary" size="small" @click="">批量修改房态</el-button>
                            <el-button class="el-revise-btn revise-btn" type="primary" size="small" @click="">批量修改房量</el-button>
                        </div>
                        <div>
                            <el-button type="primary" icon="el-icon-arrow-left" @click="deforeStateWeek">前七天</el-button>
                            <el-button type="primary">{{startHousestatedate}}-{{endHousestatedate}}</el-button>
                            <el-button type="primary" icon="el-icon-arrow-right" @click="afterStateWeek">后七天</el-button>
                        </div>
                        <div style="margin-top: 20px;">
                            <el-table :data="tableData" border style="width: 100%">
                                <el-table-column prop="date" label="房型">
                                </el-table-column>
                                <el-table-column prop="date" label="日期" v-for="item in 7">
                                </el-table-column>
                            </el-table>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="房价维护">
                        <div>
                            <el-button type="primary" icon="el-icon-arrow-left" @click="deforePriceWeek">前七天</el-button>
                            <el-button type="primary">{{startHousestatedate}}-{{endHousestatedate}}</el-button>
                            <el-button type="primary" icon="el-icon-arrow-right" @click="afterPriceWeek">后七天</el-button>
                        </div>
                        <div style="margin-top: 20px;">
                            <el-table :data="tableData" border style="width: 100%">
                                <el-table-column prop="date" label="房型">
                                </el-table-column>
                                <el-table-column prop="date" label="日期" v-for="item in 7">
                                </el-table-column>
                            </el-table>
                        </div>
                    </el-tab-pane>
                
                    <el-tab-pane label="房型维护" name="frist">
                        <el-row>
                            <el-button class="el-revise-btn revise-btn" type="primary" size="small" @click="addHouseBtn">创建房型</el-button>
                        </el-row>
                        <el-form :inline="true" class="demo-form-inline">
                            <el-form-item label="房间名称">
                                <el-input v-model="houseName" placeholder="房间名称"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="houseSreachBtn" class="el-revise-btn revise-btn" size="small">查询
                                </el-button>
                            </el-form-item>
                        </el-form>
                        <el-table :data="houseData" border style="width: 100%">
                            <el-table-column prop='id' label="房型ID">
                            </el-table-column>
                            <el-table-column prop='name' label="房型名称">
                            </el-table-column>
                            <el-table-column prop='size' label="面积">
                            </el-table-column>
                            <el-table-column prop='bed_info' label="床量">
                            </el-table-column>
                            <el-table-column prop='window' label="窗户">
                            </el-table-column>
                            <el-table-column prop='number' label="可入住人数">
                            </el-table-column>
                            <el-table-column prop='sort' label="排序">
                            </el-table-column>
                            <el-table-column label="操作">
                                <el-button type="primary" icon="el-icon-edit" circle size="mini"></el-button>
                                <el-button type="danger" icon="el-icon-delete" circle size="mini"></el-button>
                            </el-table-column>
                        </el-table>
                        <div id="footer-page-box">
                            <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-sizes="[5, 10, 20, 50]"
                                :page-size="100"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="allTotal">
                            </el-pagination>
                        </div>
                        
                    </el-tab-pane>
                </el-tabs>
            </el-tab-pane>
        </el-tabs>

        <div class="addHouseType" v-if="addBoxShow">
            <h2>基础信息</h2>
            <label for="">房型名称</label>
            <el-input class="addHouseTypeInp" placeholder="请输入内容" v-model="addHouseTypeName">
                <!-- <template slot="prepend">房型名称</template> -->
            </el-input>
            <label for="">面积</label>
            <el-input class="addHouseTypeInp" placeholder="请输入内容" v-model="addHouseTypeSize">
                <!-- <template slot="prepend">面积</template> -->
                <template slot="append">平方米</template>
            </el-input>
            <div class="seleLabel">
                <label for="">几室</label>
            </div>
            <el-select class="addHouseTypeInp" v-model="addHouseSeveral_rooms" placeholder="几室">
                <el-option v-for="item in several_roomsOptions" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
            </el-select>
            <div></div>
            <div v-for="addHouseBed_infoItem, i in addHouseBed_info">
                <div class="seleLabel">
                    <label for="">床型{{i+1}}</label>
                </div>
                <el-select class="addHouseTypeInp" v-model="addHouseBed_infoItem.name" placeholder="床型">
                    <el-option v-for="item in bed_infoNameOptions" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <div class="seleLabel">
                    <label for="">床宽</label>
                </div>
                <el-select class="addHouseTypeInp" v-model="addHouseBed_infoItem.size" placeholder="床宽">
                    <el-option v-for="item in bed_infoSizeOptions" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div>
                <el-button type="primary" plain :width="500" @click="addBed"> + 床型</el-button>
            </div>
            <div>
                <div class="seleLabel">
                    <label for="">可入住人数</label>
                </div>
                <el-select class="addHouseTypeInp" v-model="addHouseNumber" placeholder="请选择">
                    <el-option v-for="item in numberOptions" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div>
                <div class="seleLabel">
                    <label for="">窗户</label>
                </div>
                <el-select class="addHouseTypeInp" v-model="addHouseWindow" placeholder="请选择">
                    <el-option v-for="item in windowOptions" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div>
                <div class="seleLabel">
                    <label for="">早餐</label>
                </div>
                <el-select class="addHouseTypeInp" v-model="addHousebreakfast" placeholder="请选择">
                    <el-option v-for="item in breakfastOptions" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div>
                <div class="seleLabel">
                    <label for="">卫生间</label>
                </div>
                <el-select class="addHouseTypeInp" v-model="addHouseWc" placeholder="请选择">
                    <el-option v-for="item in wcOptions" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div class="smallInput">
                <label for="">房量</label>
                <el-input class="addHouseTypeInp" placeholder="请输入内容" v-model="addHouseVolume">
                    <!-- <template slot="prepend">面积</template> -->
                    <template slot="append">间</template>
                </el-input>
            </div>
            

            <h2>客房设置</h2>
            <div v-for="checkItem in addHouseCheckList">
                <h4>{{checkItem.title}}</h4>
                <div class="check-box">
                    <el-checkbox-group v-model="addHouseInfoList">
                        <el-checkbox v-for="check in checkItem.content" :label="check.name"></el-checkbox>
                    </el-checkbox-group>
                </div>
            </div>

            <h2>房屋详情</h2>
            <h4>房屋详情</h4>
            <div>
                <el-input
                    type="textarea"
                    :rows="5"
                    placeholder="请输入内容"
                    v-model="addHouseTestera">
                </el-input>
            </div>
            <div>
                <span>加床服务</span>
                <el-radio-group v-model="addHouseExtra_bed">
                    <el-radio :label="1">不可加床</el-radio>
                    <el-radio :label="2">无偿加床</el-radio>
                    <el-radio :label="3">有偿加床</el-radio>
                </el-radio-group>
                <div class="smallerInput">
                    <el-input class="addHouseTypeInp" placeholder="请输入内容" v-model="addHouseExtra_bed_money">
                        <!-- <template slot="prepend">面积</template> -->
                        <template slot="append">元/人</template>
                    </el-input>
                </div>
            </div>
            <h4>图片</h4>
            <!-- 新建 -->
            <div v-if="true" class="upLoadBigBox">
                <div class="upLoadSmallBox">
                    <el-upload action="https://api.sdzhujialin.com/admin/Index/IndexData" list-type="picture-card" :on-change="onUpload"
                        :limit="10" accept="image/*">
                        <i class="el-icon-plus"></i>
                    </el-upload>
                    <el-button type="primary" plain v-for="imgItem, i in addHouseList" class="add-uploadimgbtn" @click="" size="mini">
                        {{homeImgNum == i?'主页':'设为主页'}}</el-button>
                </div>
                
            </div>
            <h4>能否做饭</h4>
            <el-radio-group v-model="addHouseIs_cook">
                <el-radio :label="1">能</el-radio>
                <el-radio :label="2">不能</el-radio>
            </el-radio-group>
            
            <h2>入住须知</h2>
            <h4>入住时间</h4>
            <el-radio-group v-model="addHouseGo_time">
                <el-radio :label="1">离店日当天12：00以后</el-radio>
                <el-radio :label="2">入住日当天</el-radio>
                <div class="smallerInput">
                    <el-input class="addHouseTypeInp" placeholder="请输入内容" v-model="addHouseGo_timeText">
                    </el-input>以后
                </div>
            </el-radio-group>
            <h4>退房时间</h4>
            <el-radio-group v-model="addHouseOut_time">
                <el-radio :label="1">离店日当天12：00以后</el-radio>
                <el-radio :label="2">离店日当天</el-radio>
                <div class="smallerInput">
                    <el-input class="addHouseTypeInp" placeholder="请输入内容" v-model="addHouseOut_timeText">
                    </el-input>以后
                </div>
            </el-radio-group>
            <h4>接待时间</h4>
            <el-time-select placeholder="起始时间" v-model="addHouseStartTime" :picker-options="{
                    start: '00:00',
                    step: '00:30',
                    end: '23:59',
                }">
            </el-time-select>
            <el-time-select placeholder="结束时间" v-model="addHouseEndTime" :picker-options="{
                  start: '00:00',
                  step: '00:30',
                  end: '23:59',
                  minTime: addHouseStartTime
                }">
            </el-time-select>
            <h4>发票</h4>
            <el-radio-group v-model="addHouseInvoice">
                <el-radio :label="1">可开发票</el-radio>
                <el-radio :label="2">不可开发票</el-radio>
            </el-radio-group>
            <h4>押金</h4>
            <el-radio-group v-model="addHouseDeposit">
                <el-radio :label="0">无需押金</el-radio>
                <el-radio :label="2">需</el-radio>
                <div class="smallerInput">
                    <el-input class="addHouseTypeInp" placeholder="请输入内容" v-model="addHouseExtra_bed_money">
                    </el-input>押金
                </div>
            </el-radio-group>
            <h4>房屋守则</h4>
            
            <h4>儿童入住</h4>
            <p>不接受18岁以下未成年人在没有监护人陪同下入住</p>
            <h4>退订政策</h4>
            <p>入住日18：00点之前可以免费取消，超过18:00则需要收取全部房费作为违约金支付给房东</p>
            <div class="addBoxFooter">
                <el-button type="info" size="small" @click="closeAddBoxClick">取消</el-button>
                <el-button type="primary" size="small" @click="UploadHouseInfo">提交</el-button>
            </div>
        
        
        
        </div>

        <div v-if="reviseStateFrame" id="revise-state">
            <i class="el-icon-close" @click="closeReviseStateClick"></i>
            <h4 class="revise-state-title">批量修改房态</h4>
            <p>房型:</p>
            <div id="revise-state-name">
                <div v-for="n in 10">
                    <el-checkbox>备选项</el-checkbox>
                </div>
            </div>
            <div>
                <span>房态设置</span>
                <el-button class="el-revise-btn revise-btn" type="primary" size="small">开房</el-button>
                <el-button class="el-revise-btn revise-btn" type="primary" size="small">关房</el-button>
            </div>
            <div>
                <span>修改日期</span>
                <el-date-picker v-model="roomStateValue" type="daterange" start-placeholder="开始日期"
                    end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']" size="mini">
                </el-date-picker>
                <p>可修改60天房态</p>
                <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选
                </el-checkbox>
                <div style="margin: 15px 0;"></div>
                <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                    <el-checkbox v-for="day,i in week" :label="day" :key="i">{{day}}</el-checkbox>
                </el-checkbox-group>
                <el-row class="revise-bot-btn">
                    <el-button type="primary" size="small" @click="roomStateOpen">确认</el-button>
                    <el-button type="warning" size="small" @click="roomStateClose">取消</el-button>
                </el-row>
            </div>
        </div>
        <div v-if="reviseNumFrame" id="revise-number">
            <i class="el-icon-close" @click="closeReviseNumClick"></i>
            <h4 class="revise-state-title">批量修改房量</h4>
            <p>房型</p>
            <div id="revise-number-name">
                <div v-for="n in tableData">
                    <el-checkbox>备选项</el-checkbox>
                    <el-input v-model="n.value" size="mini" placeholder="请输入" clearable
                        style="display: inline-block;width: 80px;">
                    </el-input>间
                </div>

            </div>
            <div>
                <span>修改日期</span>

                <el-date-picker v-model="roomNumValue" type="daterange" start-placeholder="开始日期" end-placeholder="结束日期"
                    :default-time="['00:00:00', '23:59:59']" size="mini">
                </el-date-picker>
                <p>可修改60天房态</p>
                <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选
                </el-checkbox>
                <div style="margin: 15px 0;"></div>
                <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                    <el-checkbox v-for="day,i in week" :label="day" :key="i">{{day}}</el-checkbox>
                    </el-chFeckbox-group>
                    <el-row class="revise-bot-btn">
                        <el-button type="primary" size="small" @click="roomNumOpen">确认</el-button>
                        <el-button type="warning" size="small" @click="roomNumClose">取消</el-button>
                    </el-row>
            </div>
        </div>
    </div>


    <script>
        // 左侧民宿列表
        const queryHomeStayListURL = 'https://api.sdzhujialin.com/admin/Homestay/IndexData'
        // 房型列表
        const houseTypeListURL = 'https://api.sdzhujialin.com/admin/House/IndexData';
        // 房型设施
        const queryHouseCheckListURL = 'https://api.sdzhujialin.com/admin/Homestay/HouseData';
        // 添加房型信息(除图)
        const setAddhouseTypeInfoURL = 'https://api.sdzhujialin.com/admin/House/AddData';

        var temp = new Date();
        new Vue({
            el: "#roomRoot",
            data: {
                // 优先显示页
                activeName: 'frist',
                // ----------------- 房型----------------
                // 分页当前页
                currentPage: 1,
                // 总条数
                allTotal: 0,
                // 房名
                houseName: '',
                // 民宿列表数据
                homeStayData: [],
                // 首个民宿ID
                activeHomeStayID: '',
                // 当前民宿名
                currentHomeStayID: '',
                // 房型列表数据
                houseData: [],

                // --------------- 新建房型 ---------------
                // addShow
                addBoxShow: false,
                // 绑定房型名称
                addHouseTypeName: '',
                // 绑定面积
                addHouseTypeSize: '',
                // 几室选项
                several_roomsOptions: [
                    {
                        value: '1',
                        label: '1'
                    }, {
                        value: '2',
                        label: '2'
                    }, {
                        value: '3',
                        label: '3'
                    }, {
                        value: '4',
                        label: '4'
                    }, {
                        value: '5',
                        label: '5'
                    }, {
                        value: '6',
                        label: '6'
                    }, {
                        value: '7',
                        label: '7'
                    }, {
                        value: '8',
                        label: '8'
                    }, {
                        value: '9',
                        label: '9'
                    }, {
                        value: '10',
                        label: '10'
                    }, {
                        value: '11',
                        label: '11'
                    }, {
                        value: '12',
                        label: '12'
                    }, {
                        value: '13',
                        label: '13'
                    }, {
                        value: '14',
                        label: '14'
                    }, {
                        value: '15',
                        label: '15'
                    }, {
                        value: '15+',
                        label: '15+'
                    }
                ],
                // 绑定几室 
                addHouseSeveral_rooms: '',
                // 床型选项
                bed_infoNameOptions: [
                    {
                        value: '单人床',
                        label: '单人床'
                    }, {
                        value: '大床',
                        label: '大床'
                    }, {
                        value: '圆床',
                        label: '圆床'
                    }, {
                        value: '水床',
                        label: '水床'
                    }, {
                        value: '上下铺',
                        label: '上下铺'
                    }, {
                        value: '榻榻米',
                        label: '榻榻米'
                    }, {
                        value: '沙发床',
                        label: '沙发床'
                    }, {
                        value: '炕',
                        label: '炕'
                    }, {
                        value: '胶囊床',
                        label: '胶囊床'
                    }, {
                        value: '儿童床',
                        label: '儿童床'
                    }, {
                        value: '高低床',
                        label: '高低床'
                    }, {
                        value: '帐篷床',
                        label: '帐篷床'
                    }, {
                        value: '其他',
                        label: '其他'
                    }
                ],
                // 床宽选项
                bed_infoSizeOptions: [
                    {
                        value: '1.1米',
                        label: '1.1米'
                    }, {
                        value: '1.2米',
                        label: '1.2米'
                    }, {
                        value: '1.3米',
                        label: '1.3米'
                    }, {
                        value: '1.35米',
                        label: '1.35米'
                    }, {
                        value: '1.5米',
                        label: '1.5米'
                    }, {
                        value: '1.8米',
                        label: '1.8米'
                    }, {
                        value: '2米',
                        label: '2米'
                    }, {
                        value: '其他',
                        label: '其他'
                    }
                ],
                // 绑定床信息
                addHouseBed_info: [
                    {
                        name: '',
                        size: ''
                    }
                ],
                // 可住人数选项(1-15+)
                numberOptions:[
                    {
                        value: '1',
                        label: '1'
                    }, {
                        value: '2',
                        label: '2'
                    }, {
                        value: '3',
                        label: '3'
                    }, {
                        value: '4',
                        label: '4'
                    }, {
                        value: '5',
                        label: '5'
                    }, {
                        value: '6',
                        label: '6'
                    }, {
                        value: '7',
                        label: '7'
                    }, {
                        value: '8',
                        label: '8'
                    }, {
                        value: '9',
                        label: '9'
                    }, {
                        value: '10',
                        label: '10'
                    }, {
                        value: '11',
                        label: '11'
                    }, {
                        value: '12',
                        label: '12'
                    }, {
                        value: '13',
                        label: '13'
                    }, {
                        value: '14',
                        label: '14'
                    }, {
                        value: '15',
                        label: '15'
                    }, {
                        value: '15+',
                        label: '15+'
                    }
                ],
                // 绑定可住人数
                addHouseNumber: '',
                // 窗户选项(有窗1无窗2)
                windowOptions:[
                    {
                        value: '1',
                        label: '有窗'
                    },{
                        value: '2',
                        label: '无窗'
                    }
                ],
                // 绑定有无窗
                addHouseWindow: '',
                // 早餐选项(不含早餐1含早餐2)
                breakfastOptions:[
                    {
                        value: '1',
                        label: '不含早餐'
                    },{
                        value: '2',
                        label: '含早餐'
                    }
                ],
                // 绑定早餐
                addHousebreakfast: '',
                // 卫生间选项(12345)
                wcOptions:[
                    {
                        value: '1',
                        label: '1'
                    },{
                        value: '2',
                        label: '2'
                    },{
                        value: '3',
                        label: '3'
                    },{
                        value: '4',
                        label: '4'
                    },{
                        value: '5',
                        label: '5'
                    }
                ],
                // 绑定卫生间
                addHouseWc: '',
                // 绑定房量
                addHouseVolume: '',

                // 房型设施
                addHouseCheckList: [],
                // 房型设置绑定
                addHouseInfoList: [],
                
                //房屋详情输入
                addHouseTestera: '', 
                // 加床服务(123)
                addHouseExtra_bed: '',
                // 有偿加床
                addHouseExtra_bed_money: '',
                // 图片上传
                addHouseList: [],
                // 图片主页索引
                homeImgNum: 0,
                // 能否做饭(12)
                addHouseIs_cook: '',

                // 入住时间
                addHouseGo_time: '',
                addHouseGo_timeText: '',
                // 离店时间
                addHouseOut_time: '',
                addHouseOut_timeText: '',
                // 接待起始时间
                addHouseStartTime: '',
                // 接待结束时间
                addHouseEndTime: '',
                // 发票
                addHouseInvoice: '',
                // 押金
                addHouseDeposit: '',


                // --------------房态----------------
                tableData: [
                    {
                        date: '2016-05-02',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄'
                    }, {
                        date: '2016-05-04',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1517 弄'
                    }, {
                        date: '2016-05-01',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1519 弄'
                    }, {
                        date: '2016-05-03',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1516 弄'
                    }
                ],
                // 房态日期
                startHousestatedate: '' ,
                endHousestatedate: '',
                stateYear: '',
                stateMonth: '',
                stateDate: '',
                stateDay: '',




                // checkAll: false,
                // reviseNumber: '',
                reviseStateFrame: false,
                reviseNumFrame: false,
                // roomStateStartValue: '',

                // roomNumValue: '',
                // roomStateValue: '',
            },
            mounted() {
                // 左侧民宿列表
                this.queryHomeStayList();
                // 首个民宿房型
                this.activeHouseTypeList();
                // 房态日期
                this.houseStateDate();
            },
            methods: {
                // 民宿列表选项卡
                homeStayTabs(tab, event){
                    // console.log(tab.label);
                    this.currentHomeStayName = tab.label;
                    this.HouseTypeList();

                },
                // 房型选项卡
                houseTabsClick(tab, event) {
                    console.log(tab.label);
                    this.addBoxShow = false;
                },
                // 房型列表分页
                handleSizeChange(val) {
                    console.log(val);
                },
                handleCurrentChange(val) {
                    console.log(val);
                },

                // 房型查询按钮
                houseSreachBtn() {
                    this.houseTypeNameSreach();
                },
                // 新建房型按钮
                addHouseBtn(){
                    this.addBoxShow = !this.addBoxShow;
                    this.queryHouseCheckList();
                },
                // 加床按钮
                addBed(){
                    let tempObj = {
                        name: '',
                        size: ''
                    }
                    this.addHouseBed_info.push(tempObj);
                },
                // 取消关闭add
                closeAddBoxClick(){
                    this.addBoxShow = false;
                },
                // add确认
                UploadHouseInfo(){

                },

                // 新建图片上传change
                onUpload(file, fileList){
                    this.addHouseList = fileList;
                },


                // 房态前七天 
                deforeStateWeek(){
                    let date = new Date();
                    let endDate = new Date();
                    // console.log(date);
                    date.setDate(date.getDate()-8);
                    this.stateYear = date.getFullYear();
                    this.stateMonth = date.getMonth();
                    this.stateDate = date.getDate();
                    this.stateDay = date.getDay();
                    // console.log(this.stateYear,this.stateMonth,this.stateDate,this.stateDay);
                    this.startHousestatedate = `${this.stateYear}/${this.stateMonth+1}/${this.stateDate}`;
                    endDate.setDate(endDate.getDate()-1);
                    this.stateYear = endDate.getFullYear();
                    this.stateMonth = endDate.getMonth();
                    this.stateDate = endDate.getDate();
                    this.stateDay = endDate.getDay();
                    // console.log(endDate);
                    this.endHousestatedate = `${this.stateYear}/${this.stateMonth+1}/${this.stateDate}`;
                },
                // 房态后七天
                afterStateWeek(){
                    
                },
                // 房态日期
                houseStateDate(){
                    let date = new Date();
                    let endDate = new Date();
                    // console.log(date);
                    this.stateYear = date.getFullYear();
                    this.stateMonth = date.getMonth();
                    this.stateDate = date.getDate();
                    this.stateDay = date.getDay();
                    // console.log(this.stateYear,this.stateMonth,this.stateDate,this.stateDay);
                    this.startHousestatedate = `${this.stateYear}/${this.stateMonth+1}/${this.stateDate}`;
                    endDate.setDate(date.getDate()+7);
                    this.stateYear = endDate.getFullYear();
                    this.stateMonth = endDate.getMonth();
                    this.stateDate = endDate.getDate();
                    this.stateDay = endDate.getDay();
                    // console.log(endDate);
                    this.endHousestatedate = `${this.stateYear}/${this.stateMonth+1}/${this.stateDate}`;
                },


                // 房价前七天 
                deforePriceWeek() {

                },
                // 房价后七天
                afterPriceWeek() {

                },
                // 房态日期
                housePriceData(){

                },

                
                // 左侧民宿列表请求
                queryHomeStayList(){
                    let that = this;
                    $.ajax({
                        url: queryHomeStayListURL,
                        type: 'POST',
                        dataType: 'json',
                        success(res){
                            // console.log(res);
                            if(res.code == 200){
                                that.homeStayData = res.data;
                                that.activeHomeStayID = res.data[0].id;
                            } else{
                                that.failTip(res.msg);
                            }
                        }
                    })
                },
                // 首次民宿房型请求
                activeHouseTypeList(){
                    let that = this;
                    $.ajax({
                        url: houseTypeListURL,
                        type: 'POST',
                        data:{
                            homestay_id: this.activeHomeStayID
                        },
                        dataType: 'json',
                        success(res){
                            if(res.code == 200){
                                that.houseData = res.data.data;
                                that.allTotal = res.data.total;
                            } else {
                                that.failTip(res.msg);
                            }
                        }
                    })
                },
                // 民宿tab切换房型请求
                HouseTypeList(){
                    let that = this;
                    $.ajax({
                        url: houseTypeListURL,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            homestay_id: this.currentHomeStayID
                        },
                        success(res){
                            if(res.code == 200){
                                that.houseData = res.data.data;
                                that.allTotal = res.data.total;
                            }
                            
                        }
                    })
                },
                // 房型查询请求
                houseTypeNameSreach(){
                    let that = this;
                    $.ajax({
                        url: houseTypeListURL,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            name: this.houseName,
                            homestay_id: this.currentHomeStayID
                        },
                        success(res){
                            if(res.code == 200){
                                that.houseData = res.data.data;
                                that.allTotal = res.data.total;
                            } else {
                                that.failTip(res.msg);
                            }
                        }
                    })
                },
                // 房型设施请求
                queryHouseCheckList(){
                    let that = this;
                    $.ajax({
                        url: queryHouseCheckListURL,
                        type: 'POST',
                        dataType: 'json',
                        success(res){
                            // console.log(res);
                            if(res.code == 200){
                                that.addHouseCheckList = res.data;
                            }
                        }
                    })
                },




                // 房态弹出框
                reviseStateFrameClick() {
                    this.reviseStateFrame = !this.reviseStateFrame;
                },
                closeReviseStateClick() {
                    this.reviseStateFrame = false;
                },
                // 房量弹出框
                reviseNumFrameClick() {
                    this.reviseNumFrame = !this.reviseNumFrame
                },
                closeReviseNumClick() {
                    this.reviseNumFrame = false;
                },

                // roomStateOpen() {
                //     this.reviseStateFrame = false;
                // },
                // roomNumOpen() {
                //     this.reviseNumFrame = false;
                // },
                // roomStateClose() {
                //     this.reviseStateFrame = false;
                // },
                // roomNumClose() {
                //     this.reviseNumFrame = false;
                // },
                

                // 成功tip
                successTip(msg) {
                    this.$message({
                        message: `${msg}`,
                        type: 'success'
                    });
                },
                // 失败tip
                failTip(msg) {
                    this.$message({
                        message: `${msg}`,
                        type: 'warning'
                    });
                },

                
            },
            watch: {
                houseName(){
                    if(this.houseName == ''){
                        this.HouseTypeList();
                    } else {
                        this.houseTypeNameSreach();
                    }
                }
            },
        })
    </script>
</body>

</html>