<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="index.css">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        #todatOutRoot {}

        .search-top {
            padding: 18px;
            display: flex;
            justify-content: space-between;
        }

        .footerPages {
            margin-top: 25px;
            text-align: center;
        }

        .el-table_1_column_7 .cell {
            color: #1890FF !important;
        }

        .el-input__inner {}

        .el-input {}
    </style>
    <title>今日离店</title>
</head>

<body>
    <div id="todatOutRoot">
        <div class="search-top">
            <div>
                <label for="">订单编号:</label>
                <el-input style="width: 190px !important;" v-model="orderNum" placeholder="请输入内容"></el-input>
                <label for="">入住人姓名:</label>
                <el-input style="width: 8vw;" v-model="orderName" placeholder="请输入内容"></el-input>
                <label for="">民宿名称:</label>
                <el-select style="width: 190px !important;" v-model="orderHomeStayName" placeholder="请选择"
                    @change='homestayChange'>
                    <el-option style="width: 190px !important;" v-for="item in currentHomeStay" :key="item.value"
                        :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <label for="">房型名称:</label>
                <el-select v-model="orderHouseTypeName" placeholder="请选择">
                    <el-option v-for="item in currentHouseTP" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <label for="">状态:</label>
                <el-select v-model="orderStatus" placeholder="请选择">
                    <el-option v-for="item in orderStatusOptions" :key="item.value" :label="item.label"
                        :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div>
                <el-button type="primary" size="small" @click='querySearchTodayOut'>查&nbsp;询</el-button>
                <el-button type="info" size="small" @click="clearSearchTodayOut">重&nbsp;置</el-button>
            </div>
        </div>
        <div class="todayList-box">
            <el-table :data="todayOutTableData" style="width: 100%" @cell-click='todayOutTabClick'>
                <el-table-column prop="order_sn" label="订单编号">
                </el-table-column>
                <el-table-column prop="homestay_name" label="民宿名称">
                </el-table-column>
                <el-table-column prop="house_name" label="房型名称">
                </el-table-column>
                <el-table-column prop="phone" label="联系人手机">
                </el-table-column>
                <el-table-column prop="check_in" label="入住时间">
                </el-table-column>
                <el-table-column prop="user_name" label="入住人姓名">
                </el-table-column>
                <el-table-column prop="order_status" label="操作">
                    <template slot-scope="scope">
                        <span style="cursor: pointer;" v-show="scope.row.order_status == '办理离店'" href="#"
                            @click="toOutTodayOutBtn">办理离店</span>
                        <span v-show="scope.row.order_status == '已离店'">已离店</span>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div class="footerPages">
            <el-pagination @size-change="todayOutSizeChange" @current-change="todayOutCurrentChange"
                :current-page="todayOutcurrentPage" :page-sizes="[8, 20, 50, 100]" :page-size="todayOutSize"
                layout="total, sizes, prev, pager, next, jumper" :total="todayOuttotal">
            </el-pagination>
        </div>
    </div>

    <script>

        const listUrl = 'https://api.sdzhujialin.com/admin/Houseorder/IndexLeave';
        const homeStayURL = 'https://api.sdzhujialin.com/admin/Houseorder/homestay';
        const HouseURL = 'https://api.sdzhujialin.com/admin/Houseorder/house';
        const homeStayHouseURL = 'https://api.sdzhujialin.com/admin/Housetag/house';
        const toOutTodayOutUrl = 'https://api.sdzhujialin.com/admin/Houseorder/IndexLeaveval';

        // let URL = window.location.origin;
        // URL = URL.replace('http://app',"https://api");
        // const listUrl = URL + '/admin/Houseorder/IndexLeave';
        // const homeStayURL = URL + '/admin/Houseorder/homestay';
        // const HouseURL = URL + '/admin/Houseorder/house';
        // const homeStayHouseURL = URL + '/admin/Housetag/house';
        // const toOutTodayOutUrl = URL + '/admin/Houseorder/IndexLeaveval';

        new Vue({
            el: '#todatOutRoot',
            data: {
                // 订单编号inp
                orderNum: '',
                // 入住人姓名
                orderName: '',
                // 民宿名称
                orderHomeStayName: '',
                // 房型名称
                orderHouseTypeName: '',
                // 状态
                orderStatus: '',
                // 状态选项
                orderStatusOptions: [
                    {
                        value: 4,
                        label: "已离店"
                    },
                    {
                        value: 3,
                        label: "未离店"
                    },
                ],
                // 列表假数据
                todayOutTableData: [],
                // 分页当前页数
                todayOutcurrentPage: 1,
                todayOutSize: 8,
                todayOuttotal: 0,
                // 点击表格订单ID
                todayOutTableSNID: '',
                // 联动总信息
                currentHomeStayHouseTP: [],
                // 联动民宿
                currentHomeStay: [],
                // 联动房型
                currentHouseTP: [],
                // 行内订单编号
                roworder_sn: '',
                // 行内订单ID
                roworder_id: '',
                // 行内用户ID
                rowuser_id: '',
                // 行内价格
                rowprice: '',
                // 行内订单状态
                roworder_status: '',
                // 查询民宿ID
                searchHomeStayID: '',
                // 查询房型ID
                searchHouseID: '',
            },
            mounted() {
                this.queryTodayOutList();
                this.queryhomeStayHouse();
            },
            methods: {
                // 获取民宿联动信息
                queryhomeStayHouse() {
                    let that = this;
                    $.ajax({
                        url: homeStayURL,
                        type: 'POST',
                        dataType: 'json',
                        success(res) {
                            if (res.code == 200) {
                                // console.log(res.data);
                                for (let i = 0; i < res.data.length; i++) {
                                    let tempObj = {};
                                    tempObj.value = res.data[i].id;
                                    tempObj.label = res.data[i].name;
                                    that.currentHomeStay.push(tempObj);
                                }
                                // console.log(that.currentHomeStay)
                            } else {
                                that.failTip(res.msg);
                            }
                        }
                    })
                },
                // 民宿change
                homestayChange(val) {
                    this.queryhouseHouse(val);
                },
                // 获取房型联动信息
                queryhouseHouse(id) {
                    let that = this;
                    $.ajax({
                        url: HouseURL,
                        data: {
                            id
                        },
                        type: 'POST',
                        dataType: 'json',
                        success(res) {
                            if (res.code == 200) {
                                // console.log(res.data);
                                that.currentHouseTP = [];
                                for (let i = 0; i < res.data.length; i++) {
                                    let tempObj = {};
                                    tempObj.value = res.data[i].id;
                                    tempObj.label = res.data[i].name;
                                    that.currentHouseTP.push(tempObj);
                                }
                            } else {
                                that.currentHouseTP = [];
                                that.orderHouseTypeName = [];
                                that.failTip(res.msg);
                            }

                        }
                    })
                },
                todayOutSizeChange(val) {
                    this.todayOutSize = val;
                    this.queryTodayOutList();
                },
                todayOutCurrentChange(val) {
                    this.todayOutcurrentPage = val;
                    this.queryTodayOutList();
                },
                // 今日离店列表
                queryTodayOutList() {
                    let that = this;
                    $.ajax({
                        url: listUrl,
                        data: {
                            size: this.todayOutSize,
                            order: this.todayOutcurrentPage,
                            type: 1,
                            order_sn: this.orderNum,
                            user_name: this.orderName,
                            homestay_id: this.orderHomeStayName,
                            house_id: this.orderHouseTypeName,
                            order_status: this.orderStatus
                        },
                        type: 'POST',
                        dataType: 'json',
                        success(res) {
                            // console.log(res);
                            if (res.code == 200) {
                                res.data.data.map((e, i) => {
                                    if (e.order_status == 3) {
                                        return e.order_status = '办理离店';
                                    } else if (e.order_status == 4) {
                                        return e.order_status = '已离店';
                                    }
                                })
                                that.todayOuttotal = res.data.total;
                                that.todayOutTableData = res.data.data;
                            } else {
                                that.failTip(res.msg);
                            }
                        }
                    })
                },
                // 今日离店查询btn
                querySearchTodayOut() {
                    console.log(this.orderStatus);
                    let that = this;
                    $.ajax({
                        url: listUrl,
                        data: {
                            order_sn: this.orderNum,
                            user_name: this.orderName,
                            homestay_id: this.orderHomeStayName,
                            house_id: this.orderHouseTypeName,
                            order_status: this.orderStatus
                        },
                        type: 'POST',
                        dataType: 'json',
                        success(res) {
                            if (res.code == 200) {
                                res.data.data.map((e, i) => {
                                    if (e.order_status == 3) {
                                        return e.order_status = '办理离店';
                                    } else if (e.order_status == 4) {
                                        return e.order_status = '已离店';
                                    }
                                })
                                that.todayOuttotal = res.data.total;
                                that.todayOutTableData = res.data.data;
                                // that.queryTodayAllList();
                            } else {
                                that.failTip(res.msg);
                            }
                        }
                    })
                },
                // 列表办理入住点击
                todayOutTabClick(row, column, cell, event) {
                    this.todayOutTableSNID = row.order_id;
                    this.roworder_id = row.order_id;
                    this.rowuser_id = row.user_id;
                    this.roworder_sn = row.order_sn;
                    this.rowprice = row.price;
                    if (e.order_status == '办理离店') {
                        return e.order_status = 3;
                    } else if (e.order_status == '已离店') {
                        return e.order_status = 4;
                    }
                    this.roworder_status = row.order_status;
                },
                toOutTodayOutBtn() {
                    let that = this;
                    setTimeout(() => {
                        $.ajax({
                            url: toOutTodayOutUrl,
                            data: {
                                order_id: this.todayOutTableSNID
                            },
                            type: 'POST',
                            dataType: 'json',
                            success(res) {
                                if (res.code == 200) {
                                    that.queryTodayOutList();
                                } else {
                                    that.failTip(res.msg);
                                }
                            }
                        })
                    }, 60);
                },
                // 清空
                clearSearchTodayOut() {
                    this.orderNum = '';
                    this.orderName = '';
                    this.orderHomeStayName = '';
                    this.orderHouseTypeName = '';
                    this.orderStatus = '';
                    this.queryTodayOutList();
                },
                // 成功tip
                successTip(msg) {
                    this.$message({
                        message: `${msg}`,
                        type: 'success'
                    });
                },
                // 失败tip
                failTip(msg) {
                    this.$message({
                        message: `${msg}`,
                        type: 'warning'
                    });
                },
            },
            watch: {

            },
        })
    </script>
</body>

</html>